<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/>
            <p:menuitem value="Gestionar Evaluaciones" url="#{siteUrls.gestionEvaluacion}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Consultar Evaluaciones"> 
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:remoteCommand  onstart="alert('Modificar')" update="clases" name="modificar"/>
                    <p:remoteCommand  onstart="alert('Eliminar')" update="clases" name="eliminar"/>
                    <p:dataTable id="clases" rows="10" var="car" value="#{clasesForm.plantillas}" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true"
                                 >
                        <p:column headerText="Título" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo100}
                        </p:column>
                        <p:column headerText="Fecha de Inicio" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.fechaHora}
                        </p:column>
                        <p:column headerText="Fecha de cierre" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.fechaHora}
                        </p:column>
                        <p:column headerText="Duración" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.numero3}
                        </p:column>
                        <p:column headerText="Intentos" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.numero3}
                        </p:column>
                        <p:column headerText="Acciones">
                            <i class="icon-list Fs25 Red" style="cursor: pointer" title="Ver Evaluación"></i>
                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Evaluación"></i>
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Evaluación"></i>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Crear Evaluación"></p:commandButton>
                    <p:commandButton value="Refrescar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Crear Evaluación">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda2" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda2').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Título: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.campo100}" ></p:inputText>
                        <p:outputLabel  value="Ponderacion de la evaluación (%): " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner min="0" max="100" value="#{formatoPantallas.numero3}"></p:spinner>
                        <p:outputLabel value="Estado: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo15}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="Disponible"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Fecha de Inicio: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.fechaHora}"></p:inputText>
                        <p:outputLabel  value="Fecha de Cierre: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.fechaHora}"></p:inputText>
                        <p:outputLabel  value="Duración en minutos: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner value="#{formatoPantallas.numero3}"></p:spinner>
                        <p:outputLabel  value="Intentos permitidos: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner  value="#{formatoPantallas.numero2}"></p:spinner>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Ver Nota al finalizar evaluación: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                        <p:outputLabel  value="Total de preguntas de la evaluación: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner  value="#{formatoPantallas.numero3}"></p:spinner>
                        <p:outputLabel  value="Preguntas aleatorias: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                        <p:outputLabel value="Respuestas aleatorias: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                        <p:outputLabel  value="Ver respuestas al final: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                        <p:outputLabel value="Tipo de ponderación: "></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Preguntas por página: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner  value="#{formatoPantallas.numero3}"></p:spinner>
                    </p:panelGrid>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"></p:commandButton>
                        <p:commandButton value="Limpiar"></p:commandButton>
                        <p:commandButton value="Cancelar"></p:commandButton>
                        <div class="EmptyBox20"></div>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Secciones">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Materias">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Clases">
                            </p:menuitem>
                        </p:splitButton>
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Modificar Evaluación">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda2" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda2').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Título: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.campo100}" ></p:inputText>
                        <p:outputLabel  value="Ponderacion de la evaluación (%): " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner min="0" max="100" value="#{formatoPantallas.numero3}"></p:spinner>
                        <p:outputLabel value="Estado: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo15}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="Disponible"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Fecha de Inicio: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.fechaHora}"></p:inputText>
                        <p:outputLabel  value="Fecha de Cierre: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.fechaHora}"></p:inputText>
                        <p:outputLabel  value="Duración en minutos: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner value="#{formatoPantallas.numero3}"></p:spinner>
                        <p:outputLabel  value="Intentos permitidos: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner  value="#{formatoPantallas.numero2}"></p:spinner>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Ver Nota al finalizar evaluación: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                        <p:outputLabel  value="Total de preguntas de la evaluación: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner  value="#{formatoPantallas.numero3}"></p:spinner>
                        <p:outputLabel  value="Preguntas aleatorias: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                        <p:outputLabel value="Respuestas aleatorias: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                        <p:outputLabel  value="Ver respuestas al final: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                        <p:outputLabel value="Tipo de ponderación: "></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Preguntas por página: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:spinner  value="#{formatoPantallas.numero3}"></p:spinner>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"></p:commandButton>
                        <p:commandButton value="Limpiar"></p:commandButton>
                        <p:commandButton value="Cancelar"></p:commandButton>
                        <div class="EmptyBox20"></div>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Secciones">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Materias">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Clases">
                            </p:menuitem>
                        </p:splitButton>
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Preguntas de la evaluación" class="Container100 Responsive">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:tabView >
                        <p:tab title="Preguntas">
                            <p:dataTable value="#{clasesForm.plantillas}" reflow="true" class="Container100 Responsive"> 
                                <p:column headerText="N°">
                                    #{formatoPantallas.numero3}
                                </p:column>
                                <p:column headerText="Tipo">
                                    #{formatoPantallas.campo30}
                                </p:column>
                                <p:column headerText="Pregunta">
                                    #{formatoPantallas.campo4000}
                                </p:column>
                                <p:column headerText="Disponible para la evaluación">
                                    <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                                </p:column>                                
                                <p:column headerText="Ponderación de Pregunta (%)">
                                    #{formatoPantallas.numeroDecimal}
                                </p:column>
                                <p:column headerText="Acciones">
                                    <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Pregunta"></i>
                                    <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Pregunta"></i>
                                </p:column>
                            </p:dataTable>
                            <div class="EmptyBox20"></div>
                            <p:commandButton value="Crear Pregunta"></p:commandButton>
                            <p:commandButton value="Refrescar"></p:commandButton>
                        </p:tab>
                        <p:tab title="Crear Pregunta">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="Pregunta"></p:outputLabel>
                                <p:editor value="#{formatoPantallas.campo4000}"></p:editor>
                                <p:outputLabel value="Tipo de Respuesta"></p:outputLabel>
                                <p:selectOneMenu>
                                    <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                    <f:selectItem itemValue="1" itemLabel="Selección múltiple"></f:selectItem>
                                    <f:selectItem itemValue="2" itemLabel="Selección única"></f:selectItem>
                                    <f:selectItem itemValue="3" itemLabel="Arrastrar y soltar"></f:selectItem>
                                    <f:selectItem itemValue="4" itemLabel="Falso y verdadero"></f:selectItem>
                                </p:selectOneMenu>
                                <p:outputLabel value="Componente"></p:outputLabel>
                                <p:selectOneMenu>
                                    <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>                                   
                                </p:selectOneMenu>
                                <p:outputLabel value="Disponible para la evaluación"></p:outputLabel>
                                <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                                <p:outputLabel value="Ponderación de pregunta (%)"></p:outputLabel>
                                <p:spinner value="#{formatoPantallas.numeroDecimal}"></p:spinner>
                            </p:panelGrid>
                            <div class="EmptyBox20"></div>
                            <p:commandButton value="Guardar"></p:commandButton>
                            <p:commandButton value="Limpiar"></p:commandButton>
                            <p:commandButton value="Cancelar"></p:commandButton>
                        </p:tab>
                        <p:tab title="Modificar Pregunta">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="Pregunta"></p:outputLabel>
                                <p:editor value="#{formatoPantallas.campo4000}"></p:editor>
                                <p:outputLabel value="Tipo de Respuesta"></p:outputLabel>
                                <p:selectOneMenu>
                                    <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                </p:selectOneMenu>
                                <p:outputLabel value="Componente"></p:outputLabel>
                                <p:selectOneMenu>
                                    <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>
                                    <f:selectItem itemLabel="Imagen Ejercicio 2"></f:selectItem>
                                </p:selectOneMenu>
                                <p:outputLabel value="Disponible para la evaluación"></p:outputLabel>
                                <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                                <p:outputLabel value="Ponderación de pregunta (%)"></p:outputLabel>
                                <p:spinner value="#{formatoPantallas.numeroDecimal}"></p:spinner>
                            </p:panelGrid>
                            <div class="EmptyBox20"></div>
                            <p:commandButton value="Guardar"></p:commandButton>
                            <p:commandButton value="Limpiar"></p:commandButton>
                            <p:commandButton value="Cancelar"></p:commandButton>
                        </p:tab>
                        <p:tab title="Respuestas de Preguntas">
                            <p:tabView>
                                <p:tab title="Respuestas ">
                                    <p:dataTable value="">
                                        <p:column headerText="Respuesta">
                                            #{formatoPantallas.campo4000}
                                        </p:column>
                                        <p:column headerText="Componente">
                                            #{formatoPantallas.campo100}
                                        </p:column>
                                        <p:column headerText="Correcta">
                                            <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                                        </p:column>
                                        <p:column headerText="Acciones">
                                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Respuesta"></i>
                                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Respuesta"></i>
                                        </p:column>
                                    </p:dataTable>
                                    <div class="EmptyBox20"></div>
                                    <p:commandButton value="Crear respuesta"></p:commandButton>
                                    <p:commandButton value="Refrescar"></p:commandButton>
                                </p:tab>
                                <p:tab title="Crear Respuesta">
                                    <p:panelGrid columns="2">
                                        <p:outputLabel value="Respuesta:">
                                        </p:outputLabel>
                                        <p:editor value="#{formatoPantallas.campo4000}"></p:editor>
                                        <p:outputLabel value="Componente: "></p:outputLabel>
                                        <p:selectOneMenu>
                                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>
                                        </p:selectOneMenu>
                                        <p:outputLabel value="Correcta: "></p:outputLabel>
                                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                                    </p:panelGrid>
                                    <div class="EmptyBox20"></div>
                                    <p:commandButton value="Guardar"></p:commandButton>
                                    <p:commandButton value="Limpiar"></p:commandButton>
                                    <p:commandButton value="Cancelar"></p:commandButton>
                                </p:tab>
                                <p:tab title="Modificar Respuesta">
                                    <p:panelGrid columns="2">
                                        <p:outputLabel value="Respuesta:">
                                        </p:outputLabel>
                                        <p:editor value="#{formatoPantallas.campo4000}"></p:editor>
                                        <p:outputLabel value="Componente: "></p:outputLabel>
                                        <p:selectOneMenu>
                                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>                                            
                                        </p:selectOneMenu>
                                        <p:outputLabel value="Correcta: "></p:outputLabel>
                                        <p:inputSwitch onLabel="#{formatoPantallas.campo2}" offLabel="#{formatoPantallas.campo2}"></p:inputSwitch>
                                    </p:panelGrid>
                                    <div class="EmptyBox20"></div>
                                    <p:commandButton value="Guardar"></p:commandButton>
                                    <p:commandButton value="Limpiar"></p:commandButton>
                                    <p:commandButton value="Cancelar"></p:commandButton>
                                </p:tab>
                            </p:tabView>
                        </p:tab>
                    </p:tabView>
                    <!--                    
                                        numero de preguntas de la evaluacion
                                        ponderacion de preguntas-->
                </h:form>
            </p:tab>
            <p:tab title="Visualizar Evaluación">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:dataScroller value="#{clasesForm.plantillas}" var="noticia" >
                        <p:panel  header="#{formatoPantallas.campo100}" closable="true">
                            <p:outputLabel value="#{formatoPantallas.campo4000}"></p:outputLabel>
                            <div class="EmptyBox20"></div>
                            <div class="Container73" style="cursor: pointer" >
                                <i class="fa fa-file-movie-o Fs25"></i>
                                <i class="fa fa-file-image-o Fs25"></i>
                                <i class="fa fa-file-audio-o Fs25"></i>
                            </div>
                            <div class="EmptyBox20"></div>
                        </p:panel>
                    </p:dataScroller>
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>