<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/>
            <p:menuitem value="Mantenimiento de Archivos multimedia" url="#{siteUrls.gestionArchivosMultimedia}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Consulta de Archivos Multimedia">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:dataTable rows="10" var="car" value="#{clasesForm.plantillas}" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true">
                        <p:column headerText="Nombre" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo100}
                        </p:column>
                        <p:column headerText="Estado" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo15}
                        </p:column>
                        <p:column headerText="Tipo" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo15}
                        </p:column>
                        <p:column headerText="Acciones">
                            <i class="icon-visibility1 Fs25 Red" style="cursor: pointer" title="Ver Archivo Multimedia"></i>
                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Archivo Multimedia"></i>
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Archivo Multimedia"></i>
                        </p:column>
                    </p:dataTable>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Registrar Archivo Multimedia"></p:commandButton>
                    <p:commandButton value="Refrescar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Registrar Archivo Multimedia">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Nombre: " class=" Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.campo100}"></p:inputText>
                        <p:outputLabel  value="Estado: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.estado}">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue="0" itemLabel="No Disponible"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Tipo: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu id="tipo" class=" Responsive" value="#{archivosMultimediaForm.tipo}">
                            <f:selectItem itemValue ="0" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue ="1" itemLabel="Video"/>
                            <f:selectItem itemValue ="2" itemLabel="Imagen"/>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Archivo: " class=" Responsive"></p:outputLabel>
                        <p:fileUpload label="Buscar" cancelLabel="cancelar" uploadLabel="Subir archivo" multiple="false" mode="advanced" skinSimple="true" allowTypes="/(\.|\/)(jpg)$/" class="Container40 Responsive" value="#{archivosMultimediaForm.archivo}" >
                        </p:fileUpload>  
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <div class="EmptyBox20"></div>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Secciones">    
                            </p:menuitem>
                            <p:menuitem value="Programación de clases">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Clases">
                            </p:menuitem>
                        </p:splitButton>
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Modificar Archivo Multimedia">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Nombre: " class=" Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.campo100}"></p:inputText>
                        <p:outputLabel  value="Estado: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.estado}">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue="0" itemLabel="No Disponible"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Tipo: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu id="tipo" class=" Responsive" value="#{archivosMultimediaForm.tipo}">
                            <f:selectItem itemValue ="0" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue ="1" itemLabel="Video"/>
                            <f:selectItem itemValue ="2" itemLabel="Imagen"/>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Archivo: " class=" Responsive"></p:outputLabel>
                        <p:fileUpload label="Buscar" cancelLabel="cancelar" uploadLabel="Subir archivo" multiple="false" mode="advanced" skinSimple="true" allowTypes="/(\.|\/)(jpg)$/" class="Container40 Responsive" value="#{archivosMultimediaForm.archivo}" >
                        </p:fileUpload>  
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <div class="EmptyBox20"></div>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Secciones">    
                            </p:menuitem>
                            <p:menuitem value="Programación de clases">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Clases">
                            </p:menuitem>
                        </p:splitButton>
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Ver Archivo Multimedia">
                <i class="fa fa-file-movie-o Fs25"></i>
                <i class="fa fa-file-image-o Fs25"></i>
                <i class="fa fa-file-audio-o Fs25"></i>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>