<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb class="Container90">
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Docentes" url="#{siteUrls.gestionDocentes}"/>
            <p:menuitem value="Busqueda de Docentes"></p:menuitem>
            <p:separator />
        </p:breadCrumb>
        <i class="icon-question Fs25 Red Container2 ui-breadcrumb" style="cursor: pointer;" onclick="PF('dlgAyuda#{gestionarDocentesController.indexMenu}').show();"></i>
    </ui:define>
    <ui:define name="content">
        <div class="EmptyBox5"></div>
        <p:panel>
                <h:form enctype="multipart/form-data" id="consultaForm" >
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <p:dialog widgetVar="dlgEliminar" header="Eliminar" modal="true">
                        <p:outputLabel value="¿Está seguro de eliminar el registro?" class="TexAlCenter" ></p:outputLabel>
                        <div class="EmptyBox20"></div>
                        <p:commandButton value="Si" action="#{gestionarDocentesController.eliminarExpediente()}" update="consultaForm" oncomplete="PF('dlgEliminar').hide()"></p:commandButton>
                        <p:commandButton value="No" onclick="PF('dlgEliminar').hide();" ></p:commandButton>
                    </p:dialog>
                    
                    <p:remoteCommand name="updateTablaConsulta" update="consulta"></p:remoteCommand>
                    <p:dataTable id="consulta" paginatorPosition="bottom" var="car" value="#{gestionarDocentesController.docentesList}" 
                                 paginator="true" rows="5"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true">
                        <p:column headerText="Nombre" style="width: 20%" filterBy="#{car.nombreCompleto}" filterMatchMode="contains" filterable="true">
                            #{car.nombreCompleto}
                        </p:column>
                        <p:column headerText="Fecha Nac." style="width: 8%"  filterBy="#{car.fechaNacimientoFiltrable}" filterMatchMode="contains" filterable="true">
                            #{car.fechaNacimientoFiltrable}
                        </p:column>
                        <p:column headerText="Correo" style="width: 20%" filterBy="#{car.dcCorreo}" filterMatchMode="contains" filterable="true">
                            #{car.dcCorreo}
                        </p:column>
                        <p:column headerText="Teléfono" style="width: 8%" filterBy="#{car.dcTelefonoEm1}" filterMatchMode="contains" filterable="true">
                            #{formatUtils.getFormatedPhone(car.dcTelefonoEm1)}
                        </p:column>
                        <p:column headerText="Teléfono" style="width: 8%" filterBy="#{car.dcTelefonoEm2}" filterMatchMode="contains" filterable="true">
                            #{formatUtils.getFormatedPhone(car.dcTelefonoEm2)}
                        </p:column>
                        <p:column headerText="Dirección" filterBy="#{car.dcDireccion}" filterMatchMode="contains" filterable="true">
                            #{car.dcDireccion}
                        </p:column>
                        <p:column headerText="Acciones">
                       
                        <p:commandLink action="#{gestionarDocentesController.ver(car)}"><i class="icon-visibility1 Fs25 Red" title="Ver Expediente" ></i></p:commandLink>
                            <p:commandLink action="#{gestionarDocentesController.modificar(car)}" ><i class="icon-compose Fs25 Red" title="Modificar Expediente" ></i></p:commandLink>
                            <p:commandLink action="#{gestionarDocentesController.eliminar(car)}" onclick="PF('dlgEliminar').show();" immediate="true" >
                                <i class="icon-close Fs25 Red" title="Eliminar Expediente"></i>
                            </p:commandLink>
                        </p:column>
                    </p:dataTable>
                    <div class="EmptyBox20"></div>
                  
                    <p:commandButton value="Registrar Docente" action="#{gestionarDocentesController.setIndexMenu(1)}" ></p:commandButton>
                    <p:commandButton value="Refrescar" action="#{gestionarDocentesController.refresh()}" update="consulta"></p:commandButton>
                </h:form>
            </p:panel>
            
       
    </ui:define>
</ui:composition>