<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Reportes" url="#"/>
            <p:menuitem value="Reporte de Usuarios" url="#{siteUrls.reporteUsuarios}"/>

            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Reporte de Usuarios">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="4">
                        <p:outputLabel value="Tipo Usuario:"></p:outputLabel>
                        <p:selectOneMenu id="tipoU" value="#{rptUsuariosController.tipoUser}">
                            <f:selectItem itemValue="1" itemLabel="DOCENTE"></f:selectItem>
                            <f:selectItem itemValue="2" itemLabel="ALUMNO"></f:selectItem>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <p:dataTable id="consulta" rows="10" var="user" value="#{rptUsuariosController.listDatos}" 
                                 paginator="false"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true">

                        <p:column headerText="Usuario" >
                            #{user.usuario}
                        </p:column>
                        <p:column headerText="Nombre" >
                            #{user.nombre}
                        </p:column>
                        <p:column headerText="Tipo de usuario" >
                            #{user.tipo}
                        </p:column>
                        <p:column headerText="Activo" >
                            #{user.activo}
                        </p:column>


                        <f:facet name="footer">
                            Total de Usuarios #{rptUsuariosController.totalUsuarios}
                        </f:facet>
                    </p:dataTable>

                    <div class="EmptyBox20"></div>
                    <div class="TexAlCenter">

                    <h:panelGrid columns="4" class="TexAlCenter" style="margin-bottom:10px" cellpadding="5">
                        <p:outputLabel value="Exportar a:"></p:outputLabel>
                        <p:selectOneRadio  id="console" value="#{rptUsuariosController.tipoRpt}">
                            <f:selectItem itemValue="2" itemLabel="Excel" />
                            <f:selectItem itemValue="0" itemLabel="PDF" />
                        </p:selectOneRadio>
                        <p:commandButton  value="Generar" ajax="false" actionListener="#{rptUsuariosController.generarReporte()}"></p:commandButton>
                        <p:commandButton value="Refrescar" actionListener="#{rptUsuariosController.refresh()}" update="consulta" ajax="true"></p:commandButton>
                    </h:panelGrid>
                    </div>

                </h:form>
            </p:tab>

        </p:tabView>

    </ui:define>

</ui:composition>
