<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Año Escolar" url="#"/>
            <p:menuitem value="Mantenimiento de Año Escolar" url="#{siteUrls.gestionarAnioEscolar}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Consulta año escolar">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <p:dataTable rows="10" var="car" value="#{clasesForm.plantillas}" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true">
                        <p:column headerText="Año" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.anio}
                        </p:column>
                        <p:column headerText="Fecha Inicio" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.fecha}
                        </p:column>
                        <p:column headerText="Fecha Fin" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.fecha}
                        </p:column>
                        <p:column headerText="Estado" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo15}
                        </p:column>
                        <p:column headerText="Acciones">
                            <!--                            <i class="icon-users Fs25 Red" style="cursor: pointer" title="Gestionar Docentes"></i>
                                                        <i class="icon-graduate32 Fs25 Red" style="cursor: pointer" title="Gestionar Alumnos"></i>-->
                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Año escolar"></i>
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Año escolar"></i>
                        </p:column>
                    </p:dataTable>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Crear año escolar"></p:commandButton>
                    <p:commandButton value="Refrescar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Apertura de año escolar">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Año: " class=" Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.anio}"></p:inputText>
                        <p:outputLabel  value="Fecha de inicio: " class=" Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.fecha}"></p:inputText>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Fecha de Fin: " class=" Responsive" ></p:outputLabel>            
                        <p:inputText value="#{formatoPantallas.fecha}"></p:inputText>
                        <p:outputLabel  value="Estado: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu id="estado" class=" Responsive" >
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue="0" itemLabel="Inactivo"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Docentes">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Alumnos">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Cursos">    
                            </p:menuitem>
                        </p:splitButton>            
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Modificar año escolar">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Año: " class=" Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.anio}"></p:inputText>
                        <p:outputLabel  value="Fecha de inicio: " class=" Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.fecha}"></p:inputText>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Fecha de Fin: " class=" Responsive" ></p:outputLabel>            
                        <p:inputText value="#{formatoPantallas.fecha}"></p:inputText>
                        <p:outputLabel  value="Estado: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu id="estado" class=" Responsive" >
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue="0" itemLabel="Inactivo"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Docentes">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Alumnos">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Cursos">    
                            </p:menuitem>
                        </p:splitButton>            
                    </div>
                </h:form>
            </p:tab>

        </p:tabView>
    </ui:define>
</ui:composition>