<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="head">
        <script type="text/javascript">
            var video;
            document.addEventListener("DOMContentLoaded", function () {
                // Create a popcorn instance by calling Popcorn("#id-of-my-video")
                configurarVideo();
            }, false);
            function configurarVideo() {
//                alert("configurando video");
                if ($(".media").size() !== 0) {
//                    alert("init configurado");
                    video = Popcorn(".media");
//                    alert("configuracion terminada");
                }
            }
        </script>
    </ui:define>
    <ui:define name="breadCrumb">
        <p:breadCrumb class="Container90">
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/> 
            <p:menuitem value="Gestionar Componentes Interactivos" url="#{siteUrls.componenteInteractiva}"/>
            <p:menuitem value="Configuracion de Componente Interactivo: #{gestionComponentesInteractivosController.config.scNombre}" url="#"/>
            <p:separator />
        </p:breadCrumb>
        <i class="icon-question Fs25 Red Container2 ui-breadcrumb" style="cursor: pointer;" onclick="PF('dlgAyuda').show();"></i>
    </ui:define>
    <ui:define name="content">
        <div class="EmptyBox5"></div>
        <p:panel>
            <h:form enctype="multipart/form-data">
                <p:tabView>
                    <p:tab title="ConfiguraciÃ³n Componente">
                        <c:choose>
                            <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==1}">
                                <p:focus context="p1"/>
                                <p:panelGrid columns="4" class="Container100" id="p1">
                                    <p:outputLabel value="Alto"></p:outputLabel>
                                    <p:spinner tabindex="1" value="#{gestionComponentesInteractivosController.config.scAlto}" max="1080" min="100"></p:spinner>
                                    <p:outputLabel value="Ancho"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAncho}" max="1920" min="100"></p:spinner>
                                    <p:outputLabel value="Archivo:"></p:outputLabel>
                                    <p:selectOneMenu value="#{gestionComponentesInteractivosController.idArchivo}">
                                        <f:selectItems itemValue="#{archivo.idArchivo}" itemLabel="#{archivo.arNombre}" value="#{gestionComponentesInteractivosController.getListaArchivos('I')}" var="archivo"></f:selectItems>
                                    </p:selectOneMenu>
                                    <p:commandButton value="Agregar" actionListener="#{gestionComponentesInteractivosController.agregarArchivo()}" update="pick" oncomplete="refrescarImagen()"></p:commandButton>
                                </p:panelGrid>
                                <div class="Container50 Responsive">
                                    <p:pickList id="pick" value="#{gestionComponentesInteractivosController.listaOrdenable}"
                                                itemLabel="#{orden.archivoBD.arNombre}" var="orden" itemValue="#{orden}" converter="fileStreamedPojo">
                                        <p:ajax event="reorder" oncomplete="refrescarImagen()"></p:ajax>
                                        <p:ajax event="transfer" oncomplete="refrescarImagen()"/>
                                        <f:facet name="sourceCaption">Agregados</f:facet>
                                        <f:facet name="targetCaption">Eliminados</f:facet>
                                    </p:pickList>                        
                                </div>
                            </c:when>
                            <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==2}">
                                <p:focus context="p1"/>
                                <p:panelGrid columns="4" class="Container100" id="p1">
                                    <p:outputLabel value="Alto"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAlto}" max="1080" min="100"></p:spinner>
                                    <p:outputLabel value="Ancho"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAncho}" max="1920" min="100"></p:spinner>
                                    <p:outputLabel value="Archivo:"></p:outputLabel>
                                    <p:selectOneMenu value="#{gestionComponentesInteractivosController.idArchivo}">
                                        <f:selectItems itemValue="#{archivo.idArchivo}" itemLabel="#{archivo.arNombre}" value="#{gestionComponentesInteractivosController.getListaArchivos('I')}" var="archivo"></f:selectItems>
                                    </p:selectOneMenu>
                                    <p:commandButton value="Agregar" actionListener="#{gestionComponentesInteractivosController.agregarArchivoUnico()}" oncomplete="refrescarImagen()"></p:commandButton>
                                </p:panelGrid>
                            </c:when>
                            <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==3}">
                                <p:focus context="p1"/>
                                <p:panelGrid columns="4" class="Container100" id="p1">
                                    <p:outputLabel value="Alto"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAlto}" max="1080" min="100"></p:spinner>
                                    <p:outputLabel value="Ancho"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAncho}" max="1920" min="100"></p:spinner>
                                    <p:outputLabel value="Archivo:"></p:outputLabel>
                                    <p:selectOneMenu value="#{gestionComponentesInteractivosController.idArchivo}">
                                        <f:selectItems itemValue="#{archivo.idArchivo}" itemLabel="#{archivo.arNombre}" value="#{gestionComponentesInteractivosController.getListaArchivos('V')}" var="archivo"></f:selectItems>
                                    </p:selectOneMenu>
                                    <p:commandButton value="Agregar" actionListener="#{gestionComponentesInteractivosController.agregarArchivoUnico()}" oncomplete="refrescarImagen()"></p:commandButton>
                                </p:panelGrid>
                            </c:when>
                            <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==4}">
                                Imagenes agarrar/soltar
                            </c:when>
                            <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==5}">
                                <p:focus context="p1"/>
                                <p:panelGrid columns="4" class="Container100" id="p1">
                                    <p:outputLabel value="Alto"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAlto}" max="1080" min="100"></p:spinner>
                                    <p:outputLabel value="Ancho"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAncho}" max="1920" min="100"></p:spinner>
                                    <p:outputLabel value="Archivo:"></p:outputLabel>
                                    <p:selectOneMenu value="#{gestionComponentesInteractivosController.idArchivo}">
                                        <f:selectItems itemValue="#{archivo.idArchivo}" itemLabel="#{archivo.arNombre}" value="#{gestionComponentesInteractivosController.getListaArchivos('A')}" var="archivo"></f:selectItems>
                                    </p:selectOneMenu>
                                    <p:commandButton value="Agregar" actionListener="#{gestionComponentesInteractivosController.agregarArchivoUnico()}" oncomplete="refrescarImagen()"></p:commandButton>
                                </p:panelGrid>
                            </c:when>
                            <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==6}">
                                <p:focus context="p1"/>
                                <p:panelGrid columns="4" class="Container100" id="p1">
                                    <p:outputLabel value="Alto"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAlto}" max="1080" min="100"></p:spinner>
                                    <p:outputLabel value="Ancho"></p:outputLabel>
                                    <p:spinner value="#{gestionComponentesInteractivosController.config.scAncho}" max="1920" min="100"></p:spinner>
                                    <p:outputLabel value="Archivo:"></p:outputLabel>
                                    <p:selectOneMenu value="#{gestionComponentesInteractivosController.idArchivo}">
                                        <f:selectItems itemValue="#{archivo.idArchivo}" itemLabel="#{archivo.arNombre}" value="#{gestionComponentesInteractivosController.getListaArchivos('I')}" var="archivo"></f:selectItems>
                                    </p:selectOneMenu>
                                    <p:commandButton value="Agregar" actionListener="#{gestionComponentesInteractivosController.agregarArchivo()}" update="pick" oncomplete="refrescarImagen()"></p:commandButton>
                                </p:panelGrid>
                                <div class="Container50 Responsive">
                                    <p:pickList id="pick" value="#{gestionComponentesInteractivosController.listaOrdenable}"
                                                itemLabel="#{orden.archivoBD.arNombre}" var="orden" itemValue="#{orden}" converter="fileStreamedPojo">
                                        <p:ajax event="reorder" oncomplete="refrescarImagen()"></p:ajax>
                                        <p:ajax event="transfer" oncomplete="refrescarImagen()"/>
                                        <f:facet name="sourceCaption">Agregados</f:facet>
                                        <f:facet name="targetCaption">Eliminados</f:facet>
                                    </p:pickList>                        
                                </div>
                            </c:when>
                        </c:choose>
                    </p:tab>
                    <p:tab title="Configurar acciones">
                        <p:focus context="p2"/>
                        <p:panelGrid columns="4" id="p2">
                            <p:outputLabel value="Evento:"></p:outputLabel>
                            <p:selectOneMenu value="#{gestionComponentesInteractivosController.nuevaInterac.idEvento}" converter="evento">
                                <f:selectItems value="#{gestionComponentesInteractivosController.eventos}" var="evtos" itemLabel="#{evtos.evDescripcion}" itemValue="#{evtos}" ></f:selectItems>
                            </p:selectOneMenu>
                            <p:outputLabel value="AcciÃ³n:"></p:outputLabel>
                            <p:selectOneMenu value="#{gestionComponentesInteractivosController.nuevaInterac.idAccion}" converter="accion">
                                <f:selectItems value="#{gestionComponentesInteractivosController.acciones}" var="accnes" itemLabel="#{accnes.acDescripcion}" itemValue="#{accnes}"></f:selectItems>
                            </p:selectOneMenu>
                            <p:outputLabel value="DuraciÃ³n:"></p:outputLabel>
                            <p:spinner value="#{gestionComponentesInteractivosController.nuevaInterac.inDuracion}">
                            </p:spinner>
                            <p:commandButton value="Agregar" update="acciones" actionListener="#{gestionComponentesInteractivosController.agregarInteraccion()}" oncomplete="refrescarImagen()"></p:commandButton>
                        </p:panelGrid>
                        <p:dataTable id="acciones" value="#{gestionComponentesInteractivosController.listaInteraccion}" editable="true" var="interac" draggableRows="true">
                            <p:ajax event="rowEdit" listener="#{gestionComponentesInteractivosController.interaccEdit}" update="acciones" oncomplete="refrescarImagen()" />
                            <p:ajax event="rowReorder" oncomplete="refrescarImagen()"/>
                            <p:column style="width:32px">
                                <p:rowEditor />
                            </p:column>
                            <p:column headerText="Evento">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        #{interac.idEvento.evDescripcion}
                                    </f:facet>
                                    <f:facet name="input"> 
                                        <p:selectOneMenu value="#{interac.idEvento}" converter="evento">
                                            <f:selectItems value="#{gestionComponentesInteractivosController.eventos}" var="evtos" itemLabel="#{evtos.evDescripcion}" itemValue="#{evtos}"></f:selectItems>
                                        </p:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Accion">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        #{interac.idAccion.acDescripcion}
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:selectOneMenu value="#{interac.idAccion}" converter="accion">
                                            <f:selectItems value="#{gestionComponentesInteractivosController.acciones}" var="accnes" itemLabel="#{accnes.acDescripcion}" itemValue="#{accnes}"></f:selectItems>
                                        </p:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column headerText="Duracion">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        #{interac.inDuracion}
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:spinner value="#{interac.inDuracion}"></p:spinner>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:column>
                                <p:commandLink update="acciones" actionListener="#{gestionComponentesInteractivosController.eliminarInteraccion(interac)}" oncomplete="refrescarImagen()">
                                    <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar"></i>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                </p:tabView>
                <div class="EmptyBox20"></div>
                <p:remoteCommand name="refrescarImagen" update="panel" oncomplete="configurarVideo()"></p:remoteCommand>
                <p:panel class="multimedia" id="panel" style="height: #{gestionComponentesInteractivosController.config.scAlto+10}px;width: #{gestionComponentesInteractivosController.config.scAncho+10}px">
                    <c:choose>
                        <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==1}">
                            <c:if test="#{gestionComponentesInteractivosController.listaOrdenable.source.size()>0}">
                                <p:galleria id="archivosEvnt"  value="#{gestionComponentesInteractivosController.listaOrdenable.source}"
                                            var="imgs" autoPlay="false" panelHeight="#{gestionComponentesInteractivosController.config.scAlto}" 
                                            panelWidth="#{gestionComponentesInteractivosController.config.scAncho}" showCaption="true" showFilmstrip="true">
                                    <p:graphicImage name="#{copiaArchivos.multimediaBaseUrl}/#{imgs.archivoBD.arRuta}" title="#{imgs.archivoBD.arNombre}"  class="Container100" cache="false"></p:graphicImage>
                                </p:galleria>
                            </c:if>
                            <c:if test="#{gestionComponentesInteractivosController.listaOrdenable.source.size()==0}">
                                <p:galleria   value="#{gestionComponentesInteractivosController.listaOrdenable.source}"
                                              var="imgs" autoPlay="false" panelHeight="#{gestionComponentesInteractivosController.config.scAlto}" 
                                              panelWidth="#{gestionComponentesInteractivosController.config.scAncho}">
                                </p:galleria>
                            </c:if>
                        </c:when>
                        <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==2}">
                            <c:if test="#{gestionComponentesInteractivosController.listaOrdenable.source.size()>0}">
                                <p:galleria id="archivosEvnt" value="#{gestionComponentesInteractivosController.listaOrdenable.source}" 
                                            var="imgs" autoPlay="false" panelHeight="#{gestionComponentesInteractivosController.config.scAlto}" 
                                            panelWidth="#{gestionComponentesInteractivosController.config.scAncho}" showCaption="true" showFilmstrip="false">
                                    <p:graphicImage name="#{copiaArchivos.multimediaBaseUrl}/#{imgs.archivoBD.arRuta}" title="#{imgs.archivoBD.arNombre}"  class="Container100" cache="false"></p:graphicImage>
                                </p:galleria>
                            </c:if>
                            <c:if test="#{gestionComponentesInteractivosController.listaOrdenable.source.size()==0}">
                                <p:galleria   value="#{gestionComponentesInteractivosController.listaOrdenable.source}" 
                                              var="imgs" autoPlay="false" panelHeight="#{gestionComponentesInteractivosController.config.scAlto}" 
                                              panelWidth="#{gestionComponentesInteractivosController.config.scAncho}">
                                </p:galleria>
                            </c:if>
                        </c:when>
                        <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==3}">
                            <c:if test="#{gestionComponentesInteractivosController.listaOrdenable.source.size()>0}">
                                <ui:repeat value="#{gestionComponentesInteractivosController.listaOrdenable.source}" var="video">
                                    <video class="media" controls="true" width="#{gestionComponentesInteractivosController.config.scAncho}" height="#{gestionComponentesInteractivosController.config.scAlto}" preload="true">
                                        <source src="#{copiaArchivos.contexto}#{copiaArchivos.relativeResourcesUrl}#{video.archivoBD.arRuta}?unico=#{dateUtils.time}" type="video/mp4" />
                                    </video>
                                </ui:repeat>
                            </c:if>
                        </c:when>
                        <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==4}">
                        </c:when>
                        <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==5}">
                            <c:if test="#{gestionComponentesInteractivosController.listaOrdenable.source.size()>0}">
                                <ui:repeat value="#{gestionComponentesInteractivosController.listaOrdenable.source}" var="audio">
                                    <audio controls="true" preload="true">
                                        <source src="#{copiaArchivos.contexto}#{copiaArchivos.relativeResourcesUrl}#{audio.archivoBD.arRuta}?unico=#{dateUtils.time}" type="audio/mpeg" />
                                    </audio>
                                </ui:repeat>
                            </c:if>
                        </c:when>
                        <c:when test="#{gestionComponentesInteractivosController.config.idTipoSuperCompon.idTipoSuperCompon==6}">
                            <c:if test="#{gestionComponentesInteractivosController.listaOrdenable.source.size()>0}">
                                <p:contentFlow  value="#{gestionComponentesInteractivosController.listaOrdenable.source}"
                                                var="imgs" style="height: #{gestionComponentesInteractivosController.config.scAlto}px;width: #{gestionComponentesInteractivosController.config.scAncho}px">
                                    <p:graphicImage name="#{copiaArchivos.multimediaBaseUrl}/#{imgs.archivoBD.arRuta}" cache="false" styleClass="content"></p:graphicImage>
                                    <div class="caption">#{imgs.archivoBD.arNombre}</div>
                                </p:contentFlow>
                            </c:if>
                            <c:if test="#{gestionComponentesInteractivosController.listaOrdenable.source.size()==0}">
                                <p:contentFlow id="archivosEvnt"  value="#{gestionComponentesInteractivosController.listaOrdenable.source}"
                                               var="imgs" style="height: #{gestionComponentesInteractivosController.config.scAlto}px;width: #{gestionComponentesInteractivosController.config.scAncho}px" styleClass="content">
                                </p:contentFlow>
                            </c:if>
                        </c:when>
                    </c:choose>
                    <c:forEach items="#{gestionComponentesInteractivosController.listaInteraccion}" var="acciones">
                        deberia configurar accion=#{acciones.idAccion.evCodigo}, evento=#{acciones.idEvento.evCodigo}
                        <c:choose>
                            <c:when test="#{acciones.idAccion.evCodigo=='show'}">
                                <p:effect event="#{acciones.idEvento.evCodigo}" type="blind" for="archivosEvnt" speed="#{acciones.inDuracion}">
                                    <f:param name="mode" value="'show'" /> 
                                </p:effect>
                            </c:when>
                            <c:when test="#{acciones.idAccion.evCodigo=='hide'}">
                                <p:effect event="#{acciones.idEvento.evCodigo}" type="explode" for="archivosEvnt" speed="#{acciones.inDuracion}">
                                    <f:param name="mode" value="'hide'" /> 
                                </p:effect>
                            </c:when>
                            <c:when test="#{acciones.idEvento.evCodigo=='play'}">
                                play!!!
                                <script type="text/javascript">
                                    configurarVideo();
                                    video.on('play', function () {
                                        $(".media").hide("drop", {direction: "down"}, "slow")
                                    });
                                    //mostrar
                                    //ocultar
                                    //
                                    //click derecho



                                    //Reproducir
                                    //pausar
                                    //ocultar
                                    //mostrar

                                </script>
                            </c:when>
                            <c:otherwise>
                                <script type="text/javascript">
                                    var self = $(".multimedia");
                                    self.on("#{acciones.idEvento.evCodigo}", function () {
                                        self.effect("#{acciones.idAccion.evCodigo}", #{acciones.inDuracion}, ocultar());
                                    });
                                    function ocultar(){
                                        self.effect("blind",2000,mostrarSiguiente);
                                    }
                                    function mostrarSiguiente(){
                                        self.show("fold",2000);
                                    }
                                </script>
                            </c:otherwise>
                        </c:choose>                                    
                    </c:forEach>
                </p:panel>
                <div class="EmptyBox50"></div>
                <div class="Container100 Responsive">
                    <p:commandButton value="Guardar Configuracion" actionListener="#{gestionComponentesInteractivosController.guardarConfiguracion()}" ajax="true"></p:commandButton>
                    <p:commandButton value="Refrescar" actionListener="#{gestionComponentesInteractivosController.refreshConfig()}" ajax="true" oncomplete="refrescarImagen()"></p:commandButton>
                </div>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>