<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb class="Container90">
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/> 
            <p:menuitem value="Gestionar Componentes Interactivos" url="#{siteUrls.componenteInteractiva}"/>
            <p:menuitem value="Busqueda de Componentes Interactivos" url="#"/>
            <p:separator />
        </p:breadCrumb>
        <i class="icon-question Fs25 Red Container2 ui-breadcrumb" style="cursor: pointer;" onclick="PF('dlgAyuda').show();"></i>
    </ui:define>
    <ui:define name="content">
        <div class="EmptyBox5"></div>
        <p:panel>
            <h:form id="consultaForm">
                <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                    <p:outputLabel value="Esta ayuda sirve un monton"/>
                </p:dialog>
                <p:dialog widgetVar="dlgEliminar" header="Eliminar" modal="true">
                    <p:outputLabel value="¿Está seguro de eliminar el registro?" class="TexAlCenter" ></p:outputLabel>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Si" action="#{gestionComponentesInteractivosController.eliminarArchivo()}" update="consultaForm" oncomplete="PF('dlgEliminar').hide()"></p:commandButton>
                    <p:commandButton value="No" onclick="PF('dlgEliminar').hide();" ></p:commandButton>
                </p:dialog>
                <p:dataTable id="consulta" var="car" value="#{gestionComponentesInteractivosController.datosList}" rows="10"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,20,40"
                             reflow="true"
                             >
                    <p:column headerText="Nombre" filterBy="#{car.scNombre}" filterMatchMode="contains">
                        #{car.scNombre}
                    </p:column>
                    <p:column headerText="Tipo de Componente" filterBy="#{car.idTipoSuperCompon.tscDescripcion}" filterMatchMode="contains">
                        #{car.idTipoSuperCompon.tscDescripcion}
                    </p:column>
                    <p:column headerText="Descripción" filterBy="#{car.scDescripcion}" filterMatchMode="contains">
                        #{car.scDescripcion}
                    </p:column>
                    <p:column headerText="Estado" filterBy="#{car.estado}" filterMatchMode="contains">
                        #{car.estado}
                    </p:column>
                    <p:column headerText="Acciones">
                        <p:column headerText="Acciones">
                            <p:commandLink action="#{gestionComponentesInteractivosController.mostrar(car)}" >
                                <i class="icon-visibility1 Fs25 Red" style="cursor: pointer" title="Mostrar Componente"></i>
                            </p:commandLink>
                            <p:commandLink action="#{gestionComponentesInteractivosController.modificar(car)}">
                                <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Componente"></i>
                            </p:commandLink>
                            <p:commandLink action="#{gestionComponentesInteractivosController.eliminar(car)}" onclick="PF('dlgEliminar').show();" immediate="true" >
                                <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Componente"></i>
                            </p:commandLink>
                            <p:commandLink action="#{gestionComponentesInteractivosController.configurar(car)}"  >
                                <i class="icon-settings Fs25 Red" style="cursor: pointer" title="Configurar Componente"></i>
                            </p:commandLink>
                        </p:column>                        
                    </p:column>
                </p:dataTable>
                <p:commandButton value="Adicionar Componente Interactivo" action="#{gestionComponentesInteractivosController.setIndexMenu(1)}"></p:commandButton>
                <p:commandButton value="Refrescar" action="#{gestionComponentesInteractivosController.refresh()}" update="consulta"></p:commandButton>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>