<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="breadCrumb">
        <p:breadCrumb class="Container90">
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/> 
            <p:menuitem value="Gestionar Componentes Interactivos" url="#{siteUrls.componenteInteractiva}"/>
            <p:menuitem value="Consultar Componente Interactivo" url="#"/>
            <p:separator />
        </p:breadCrumb>
        <i class="icon-question Fs25 Red Container2 ui-breadcrumb" style="cursor: pointer;" onclick="PF('dlgAyuda').show();"></i>
    </ui:define>
    <ui:define name="content">
        <div class="EmptyBox5"></div>
        <p:panel>
            <h:form id="consultaForm">
                <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                    <p:outputLabel value="Esta ayuda sirve un monton"/>
                </p:dialog>
                <p:remoteCommand name="redirect" actionListener="#{gestionComponentesInteractivosController.setIndexMenu(0)}"></p:remoteCommand>
                <p:dialog widgetVar="dlgEliminar" header="Eliminar" modal="true">
                    <p:outputLabel value="¿Está seguro de eliminar el registro?" class="TexAlCenter" ></p:outputLabel>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Si" action="#{gestionComponentesInteractivosController.eliminarArchivo()}" update="consultaForm" oncomplete="PF('dlgEliminar').hide();redirect();"></p:commandButton>
                    <p:commandButton value="No" onclick="PF('dlgEliminar').hide();" ></p:commandButton>
                </p:dialog>
                <p:panelGrid columns="2" id="p1">
                    <p:outputLabel value="Nombre: "></p:outputLabel>
                    <p:outputLabel value="#{gestionComponentesInteractivosController.ver.scNombre}"></p:outputLabel>
                    <p:outputLabel value="Descripción: "></p:outputLabel>
                    <p:outputLabel value="#{gestionComponentesInteractivosController.ver.scDescripcion}"></p:outputLabel>
                    <p:outputLabel value="Tipo de Componente: "></p:outputLabel>
                    <p:outputLabel value="#{gestionComponentesInteractivosController.ver.idTipoSuperCompon.tscDescripcion}"></p:outputLabel>                       
                    <p:outputLabel value="Estado: " class="Responsive"></p:outputLabel>
                    <p:outputLabel value="#{gestionComponentesInteractivosController.ver.estado}"></p:outputLabel>
                </p:panelGrid>
                <div class="EmptyBox20"></div>
                <div class="Container100">
                    <p:commandButton value="Modificar" action="#{gestionComponentesInteractivosController.modificar(gestionComponentesInteractivosController.ver)}" immediate="true" >
                    </p:commandButton>
                    <p:commandButton value="Eliminar" action="#{gestionComponentesInteractivosController.eliminar(gestionComponentesInteractivosController.ver)}" onclick="PF('dlgEliminar').show();" immediate="true" >
                    </p:commandButton>
                    <p:commandButton value="Regresar" immediate="true">
                        <p:ajax resetValues="true" listener="#{gestionComponentesInteractivosController.setIndexMenu(0)}"/>
                    </p:commandButton>
                    <div class="EmptyBox20"></div>
                    <p:splitButton value="Otras Opciones" action="#">
                        <p:menuitem value="Gestionar Docentes">    
                        </p:menuitem> 
                        <p:menuitem value="Gestionar Alumnos">    
                        </p:menuitem>
                        <p:menuitem value="Gestionar Cursos">    
                        </p:menuitem>
                    </p:splitButton>            
                </div>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>