<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/>
            <p:menuitem value="Gestionar Notas" url="#{siteUrls.gestionNota}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Consulta de Notas">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:dataTable rows="10" var="car" value="#{clasesForm.plantillas}" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true">
                        <p:column headerText="Alumno" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo300}
                        </p:column>
                        <p:column headerText="Materia" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo100}
                        </p:column>
                        <p:column headerText="Tipo de Evaluación" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo100}
                        </p:column>
                        <p:column headerText="Nota" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.numeroDecimal}
                        </p:column>
                        <p:column headerText="Tipo de ingreso" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo15}
                        </p:column>
                        <p:column headerText="Acciones">
                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Nota"></i>
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Nota"></i>
                        </p:column>
                    </p:dataTable>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Registrar Nota"></p:commandButton>
                    <p:commandButton value="Refrescar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Registrar Nota">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Alumno: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.estado}">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo300}"/>
                            <f:selectItem itemValue ="0" itemLabel="Pedro Vazques"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Materia: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.estado}">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo100}"/>
                            <f:selectItem itemValue="0" itemLabel="Ciencias"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Evaluación: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.tipo}">
                            <f:selectItem itemValue ="0" itemLabel="#{formatoPantallas.campo100}"/>
                            <f:selectItem itemValue ="1" itemLabel="Examen Corto Matemáticas"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Nota: " class=" Responsive"></p:outputLabel>
                        <p:spinner min="0.0" value="#{formatoPantallas.numeroDecimal}"></p:spinner>
                        <p:outputLabel  value="Tipo de ingreso: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.tipo}">
                            <f:selectItem itemValue ="0" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue ="1" itemLabel="Automático"/>
                        </p:selectOneMenu>  
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <div class="EmptyBox20"></div>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Secciones">    
                            </p:menuitem>
                            <p:menuitem value="Programación de clases">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Clases">
                            </p:menuitem>
                        </p:splitButton>
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Modificar Nota">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Alumno: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.estado}">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo300}"/>
                            <f:selectItem itemValue ="0" itemLabel="Pedro Vazques"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Materia: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.estado}">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo100}"/>
                            <f:selectItem itemValue="0" itemLabel="Ciencias"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Evaluación: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.tipo}">
                            <f:selectItem itemValue ="0" itemLabel="#{formatoPantallas.campo100}"/>
                            <f:selectItem itemValue ="1" itemLabel="Examen Corto Matemáticas"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Nota: " class=" Responsive"></p:outputLabel>
                        <p:spinner min="0.0" value="#{formatoPantallas.numeroDecimal}"></p:spinner>
                        <p:outputLabel  value="Tipo de ingreso: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive" value="#{archivosMultimediaForm.tipo}">
                            <f:selectItem itemValue ="0" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue ="1" itemLabel="Automático"/>
                        </p:selectOneMenu>  
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <div class="EmptyBox20"></div>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Secciones">    
                            </p:menuitem>
                            <p:menuitem value="Programación de clases">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Clases">
                            </p:menuitem>
                        </p:splitButton>
                    </div>
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>