<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/>
            <p:menuitem value="Mantenimiento de clase" url="#{siteUrls.gestionarAnioEscolar}"/>            
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Consultar Plantilla de clases">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <p:remoteCommand  onstart="alert('Modificar')" update="clases" name="modificar"/>
                    <p:remoteCommand  onstart="alert('Eliminar')" update="clases" name="eliminar"/>
                    <p:dataTable id="clases" var="car" value="#{clasesForm.plantillas}" 
                                 rows="10"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true"
                                 >
                        <p:column headerText="Docentes" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                        </p:column>
                        <p:column headerText="Título" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                        </p:column>
                        <p:column headerText="Elementos" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                        </p:column>
                        <p:column headerText="Acciones">
                            <i class="icon-forbid-1 Fs25 Red" style="cursor: pointer" title="Consultar Clase"></i>
                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Plantilla de Clase"></i>
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Plantilla de Clase"></i>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Crear"></p:commandButton>
                    <p:commandButton value="Refrescar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Crear Plantilla de clase">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda2" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>

                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda2').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:outputLabel for="docente" value="Docente: " class="Contanier10 Responsive"></p:outputLabel>
                    <p:selectOneMenu id="docente" value="#{plantillaClaseForm.docente}" class="Contanier10 Responsive" filter="true" filterMatchMode="startsWith">
                        <f:selectItems var="docente" value="#{plantillaClaseForm.docentes}" itemLabel="#{docente.description}" itemValue="#{docente.self}"></f:selectItems>
                    </p:selectOneMenu>
                    <p:tooltip for="docente" value="Docente que impartirá la clase" />
                    <div class="EmptyBox20"></div>
                    <p:outputLabel for="titulo" value="Título de plantilla: " class="Contanier10 Responsive"></p:outputLabel>
                    <p:inputText id="titulo" class="Contanier10 Responsive" value="#{plantillaClaseForm.titulo}"></p:inputText>
                    <p:tooltip for="titulo" value="Ejemplo: Plantilla de Clases para Matemáticas" />
                    <div class="EmptyBox20"></div>
                    <p:outputLabel for="mostrarTipo" value="Mostrar Secciones: " class="Contanier10 Responsive"></p:outputLabel>
                    <p:inputSwitch onLabel="Si" offLabel="No"></p:inputSwitch>
                    <p:tooltip for="mostrarTipo" value="Muestra las secciones cuando la clase es publicada" />
                    <div class="EmptyBox20"></div>
                    <p:outputLabel for="elem" value="Secciones de la plantilla a utilizar: " class="Contanier10 Responsive"></p:outputLabel>
                    <p:pickList id="elem" value="#{plantillaClaseForm.elementos}" var="secciones" effect="bounce"
                                itemValue="#{secciones}" itemLabel="#{secciones.description}" showCheckbox="true"
                                showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" addLabel="Agregar" addAllLabel="Agregar Todos" removeLabel="Remover" removeAllLabel="Remover Todos">
                        <p:column >#{secciones.description}</p:column>
                    </p:pickList>

                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Crear"></p:commandButton>
                    <p:commandButton value="Limpiar"></p:commandButton>
                    <p:commandButton value="Cancelar"></p:commandButton>
                    <div class="EmptyBox20"></div>
                    <p:splitButton value="Otras Opciones" action="#">
                        <p:menuitem value="Gestionar Secciones">    
                        </p:menuitem>
                        <p:menuitem value="Gestionar Materias">    
                        </p:menuitem>
                        <p:menuitem value="Gestionar Clases">
                        </p:menuitem>
                    </p:splitButton>
                </h:form>
            </p:tab>
        </p:tabView>

    </ui:define>
</ui:composition>