<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/>
            <p:menuitem value="Mantenimiento de Curso" url="${siteUrls.gestionarCursos}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Consulta de cursos">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:dataTable rows="10" var="car" value="#{clasesForm.plantillas}" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true">
                        <p:column headerText="Nombre" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo100}
                        </p:column>
                        <p:column headerText="Capacidad" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.numero3}
                        </p:column>
                        <p:column headerText="Docente" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo300}
                        </p:column>
                        <p:column headerText="Seccion" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo15}
                        </p:column>
                        <p:column headerText="Materia" filterBy="#{car.description}" filterable="true" filterMatchMode="contains">
                            #{formatoPantallas.campo50}
                        </p:column>
                        <p:column headerText="Acciones">
                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Curso"></i>
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Curso"></i>
                        </p:column>
                    </p:dataTable>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Registrar Curso"></p:commandButton>
                    <p:commandButton value="Refrescar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Registro de Curso">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Nombre del Curso:  " class=" Responsive"></p:outputLabel>
                        <p:inputText  class=" Responsive" value="#{formatoPantallas.campo100}"/>
                        <p:outputLabel  value="Capacidad: " class=" Responsive"></p:outputLabel>
                        <p:inputMask  mask="999" class=" Responsive" value="#{formatoPantallas.numero3}" />
                        <p:outputLabel  value="Docente: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu id="docente" class=" Responsive">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo300}"/>
                            <f:selectItem itemValue ="1" itemLabel="Juan Pérez"/>
                            <f:selectItem itemValue="0" itemLabel="Canario Martinez"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Seccion: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue ="1" itemLabel="1° Grado"/>
                            <f:selectItem itemValue="0" itemLabel="2° Grado"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="Materia: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo50}"/>
                            <f:selectItem itemValue ="1" itemLabel="Matemáticas"/>
                            <f:selectItem itemValue="0" itemLabel="Ciencias Naturales"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Secciones">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Materias">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Clases">
                            </p:menuitem>
                        </p:splitButton>  
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Modificar Curso">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel  value="Nombre del Curso:  " class=" Responsive"></p:outputLabel>
                        <p:inputText  class=" Responsive" value="#{formatoPantallas.campo300}"/>
                        <p:outputLabel  value="Capacidad: " class=" Responsive"></p:outputLabel>
                        <p:inputMask  mask="999" class=" Responsive" value="#{formatoPantallas.numero3}" />
                        <p:outputLabel  value="Docente: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo300}"/>
                            <f:selectItem itemValue ="1" itemLabel="Juan Pérez"/>
                            <f:selectItem itemValue="0" itemLabel="Canario Martinez"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel value="Seccion: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu class=" Responsive">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo15}"/>
                            <f:selectItem itemValue ="1" itemLabel="1° Grado"/>
                            <f:selectItem itemValue="0" itemLabel="2° Grado"/>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Materia: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu  class=" Responsive">
                            <f:selectItem itemValue ="1" itemLabel="#{formatoPantallas.campo50}"/>
                            <f:selectItem itemValue ="1" itemLabel="Matemáticas"/>
                            <f:selectItem itemValue="0" itemLabel="Ciencias Naturales"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Secciones">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Materias">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Clases">
                            </p:menuitem>
                        </p:splitButton>  
                    </div>
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>