<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb class="Container90">
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Año Escolar" url="#"/>
            <p:menuitem value="Matricula Alumnos" url="#{siteUrls.gestionAlumnos}"/>
            <p:separator />
        </p:breadCrumb>
        <i class="icon-question Fs25 Red Container2 ui-breadcrumb" style="cursor: pointer;" onclick="PF('dlgAyuda').show();"></i>
    </ui:define>
    <ui:define name="content">

        <div class="EmptyBox5"></div>
        <p:panel>
            <h:form id="consultaForm">
                <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                    <p:outputLabel value="Esta ayuda sirve un monton"/>
                </p:dialog>
                <p:dialog widgetVar="dlgEliminar" header="Eliminar" modal="true">
                    <p:outputLabel value="¿Está seguro de eliminar el registro?" class="TexAlCenter" ></p:outputLabel>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Si" action="#{gestionMatriculaController.eliminarMatricula()}" update="consultaForm" oncomplete="PF('dlgEliminar').hide()"></p:commandButton>
                    <p:commandButton value="No" onclick="PF('dlgEliminar').hide();" ></p:commandButton>
                </p:dialog>            
                <p:dataTable id="consulta" paginatorPosition="bottom" rows="10" var="car" value="#{gestionMatriculaController.matriculaList}" 
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,20,40"
                             reflow="true">
                    <p:column headerText="Carnet" filterBy="#{car.mtCarnet}" filterMatchMode="contains" filterable="true">
                        #{car.mtCarnet}
                    </p:column>
                    <p:column headerText="Nombre" filterBy="#{car.idAlumno.nombreCompleto}" filterMatchMode="contains" filterable="true">
                        #{car.idAlumno.nombreCompleto}
                    </p:column>
                    <p:column headerText="Grado" filterBy="#{car.idGrado.grNombre}" filterMatchMode="contains" filterable="true">
                        #{car.idGrado.grNombre}
                    </p:column>
                    <p:column headerText="Sección" filterBy="#{car.idSeccion.scDescripcion}" filterMatchMode="contains" filterable="true">
                        #{car.idSeccion.scDescripcion}
                    </p:column>
                    <p:column headerText="Acciones">
                         <p:commandLink action="#{gestionMatriculaController.ver(car)}"><i class="icon-visibility1 Fs25 Red" title="Ver Matricula" ></i></p:commandLink>
                        <p:commandLink action="#{gestionMatriculaController.modificar(car)}" >
                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Matrícula"></i>
                        </p:commandLink>
                        <p:commandLink action="#{gestionMatriculaController.eliminar(car)}" onclick="PF('dlgEliminar').show();" immediate="true" >
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Matrícula"></i>
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
                <div class="EmptyBox20"></div>
                <p:commandButton value="Matricular Alumno" action="#{gestionMatriculaController.setIndexMenu(1)}"></p:commandButton>
                <p:commandButton value="Refrescar" action="#{gestionMatriculaController.refresh()}" update="consulta"></p:commandButton>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>