<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb class="Container90">
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Matriculas" url="#{siteUrls.gestionAnioEscolar}"/>
            <p:menuitem value="Consulta de Matriculas"/>
            <p:separator />
        </p:breadCrumb>
        <i class="icon-question Fs25 Red Container2 ui-breadcrumb" style="cursor: pointer;" onclick="PF('dlgAyuda#{gestionMatriculaController.indexMenu}').show();"></i>
    </ui:define>
    <ui:define name="content">
        <div class="EmptyBox5"></div>
        <p:panel>
            <h:form id="consultaForm">
                <p:dialog widgetVar="dlgAyuda1" modal="true" appendTo="@(body)" header="Ayuda">
                    <p:outputLabel value="Esta ayuda sirve un monton Modifica"/>
                </p:dialog>
                <p:remoteCommand name="redirect" actionListener="#{gestionMatriculaController.setIndexMenu(0)}"></p:remoteCommand>
                <p:dialog widgetVar="dlgEliminar" header="Eliminar" modal="true">
                    <p:outputLabel value="¿Está seguro de eliminar el registro?" class="TexAlCenter" ></p:outputLabel>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Si" action="#{gestionMatriculaController.eliminarMatricula()}" update="consultaForm" oncomplete="PF('dlgEliminar').hide();redirect();"></p:commandButton>
                    <p:commandButton value="No" onclick="PF('dlgEliminar').hide();" ></p:commandButton>
                </p:dialog>
                <p:panelGrid columns="2" class="Container50 Responsive" id="mod_p1">
                    <p:outputLabel for="mod_carnet" value="Carnet: " class=" Responsive"></p:outputLabel>
                    <p:outputLabel id="mod_carne" value="#{gestionMatriculaController.matriculaModifica.mtCarnet}"></p:outputLabel>
                    <p:outputLabel for="mod_nombre" value="Nombre: " class=" Responsive"></p:outputLabel>
                    <p:outputLabel id="mod_nombre" value="#{gestionMatriculaController.matriculaModifica.idAlumno.nombreCompleto}"></p:outputLabel>
                    <p:outputLabel for="mod_grado" value="Grado: " class=" Responsive" ></p:outputLabel>
                    <p:outputLabel id="mod_grado" value="#{gestionMatriculaController.matriculaModifica.idGrado.grNombre}"></p:outputLabel>
                    <p:outputLabel for="mod_seccion" value="Sección del grado: " class="  Responsive"></p:outputLabel>
                    <p:outputLabel id="mod_seccion" value="#{gestionMatriculaController.matriculaModifica.idSeccion.scDescripcion}"></p:outputLabel>                    
                </p:panelGrid>
                <div class="EmptyBox20"></div>
                <div class="Container100">
                    <p:commandButton value="Modificar" action="#{gestionMatriculaController.modificar(gestionMatriculaController.matriculaModifica)}" immediate="true" >
                    </p:commandButton>
                    <p:commandButton value="Eliminar" action="#{gestionMatriculaController.eliminar(gestionMatriculaController.matriculaModifica)}" onclick="PF('dlgEliminar').show();" immediate="true" >
                    </p:commandButton>
                    <p:commandButton value="Regresar" immediate="true">
                        <p:ajax update="p1,fotoSubida" resetValues="true" listener="#{gestionMatriculaController.setIndexMenu(0)}"/>
                    </p:commandButton>
                    <p:commandButton id="otrasOpciones" value="Otras opciones" type="button" icon="ui-icon-extlink" />
                    <p:tieredMenu overlay="true" trigger="otrasOpciones" my="left top" at="left bottom" style="width:200px">
                        <p:menuitem value="Gestionar Docentes" >    
                        </p:menuitem>
                        <p:menuitem value="Gestionar Alumnos">    
                        </p:menuitem>
                        <p:menuitem value="Gestionar Cursos">    
                        </p:menuitem>
                    </p:tieredMenu>            
                </div>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>
