<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Reportes" url="#"/>
            <p:menuitem value="Reporte de Notas de Alumnos por Año Escolar" url="#{siteUrls.reporteNotasAlumnoAnioEscolar}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Reporte de Notas de Alumnos por Año Escolar">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="4">
                        <p:outputLabel value="Fecha desde"></p:outputLabel>
                        <p:inputText value="#{rptNotasController.desde}"></p:inputText>
                        <p:outputLabel value="hasta:"></p:outputLabel>
                        <p:inputText value="#{rptNotasController.hasta}"></p:inputText>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <p:dataTable id="consulta" paginatorPosition="bottom" rows="10" var="car" value="#{rptNotasController.notasList}" 
                                 paginator="false"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true">
                        <p:column headerText="Alumno" >
                            #{car.idAlumno.nombreCompleto}
                        </p:column>
                        <p:column headerText="Grado" >
                            #{car.idEvaluacion.idCurso.idGrado.grNombre}
                        </p:column>
                        <p:column headerText="Sección" >
                            #{car.idEvaluacion.idCurso.idSeccion.scDescripcion}
                        </p:column>
                        <p:column headerText="Materia" >
                            #{car.idEvaluacion.idMateria.maNombre}
                        </p:column>
                        <p:column headerText="Tipo de Evaluacion" >
                            #{car.idEvaluacion.evTipo}
                        </p:column>
                        <p:column headerText="Evaluacion" >
                            #{car.idEvaluacion.evNombre}
                        </p:column>
                        <p:column headerText="Nota ">
                            #{car.ntCalificacion}
                        </p:column>
                        <f:facet name="footer">
                            Total de alumnos #{rptNotasController.totalTransacciones}
                        </f:facet>
                    </p:dataTable>
                    <div class="EmptyBox20"></div>
                    <div class="TexAlCenter">
                        <h:panelGrid columns="4" class="TexAlCenter" style="margin-bottom:10px" cellpadding="5">
                            <p:outputLabel value="Exportar a:"></p:outputLabel>
                            <p:selectOneRadio  id="console" value="#{rptNotasController.formatoRpt}">
                                <f:selectItem itemLabel="Excel" itemValue="Excel" />
                                <f:selectItem itemLabel="PDF" itemValue="PDF" />
                            </p:selectOneRadio>
                            <p:commandButton  value="Generar" action="#{rptNotasController.generarReporte()}" update="consulta"></p:commandButton>
                            <p:commandButton value="Refrescar" action="#{rptNotasController.refresh()}" update="consulta"></p:commandButton>
                        </h:panelGrid>
                    </div>
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>
