<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/>
            <p:menuitem value="Gestionar Clase" url="#"/>
            <p:menuitem value="Clase Interactiva" url="#{siteUrls.claseInteractiva}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Consultar clases">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:dataTable var="car" value="" rows="10"
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true"
                                 >
                        <p:column headerText="Docente"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo300}
                        </p:column>
                        <p:column headerText="Plantilla"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo100}
                        </p:column>
                        <p:column headerText="Estado"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo15}
                        </p:column>
                        <p:column headerText="Acciones">
                            <i class="icon-list Fs25 Red" style="cursor: pointer" title="Visualizar Clase"></i>
                            <i class="icon-clock Fs25 Red" style="cursor: pointer" title="Modificar Clase"></i>
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Clase"></i>
                        </p:column>
                    </p:dataTable>
                    <p:commandButton value="Crear"></p:commandButton>
                    <p:commandButton value="Refrescar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Crear clase">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda2" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>

                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda2').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="4">
                        <p:outputLabel value="Docente: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:selectOneMenu  value="#{ClasesForm.docente}" class="Contanier10 Responsive" filter="true" filterMatchMode="startsWith">
                            <f:selectItem itemLabel="#{formatoPantallas.campo300}" itemValue="0"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Plantilla de clase: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:selectOneMenu  value="#{ClasesForm.tipoClase}" class="Contanier10 Responsive">
                            <f:selectItem itemLabel="#{formatoPantallas.campo100}" itemValue="0"></f:selectItem>
                        </p:selectOneMenu>  
                        <p:outputLabel value="Estado: " class="Responsive"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo15}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="Disponible"></f:selectItem>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <p:panel id="r"  toggleable="true" header="Menu de Configuración" class="Container100">
                        <p:tabView class="Container100">
                            <p:tab title="Secciones de plantilla">
                                <div class="Container30 ContainerIndent Responsive">
                                    <p:outputLabel value="Secciones de la plantilla" class="Container100 TexAlCenter"></p:outputLabel>
                                    <p:orderList value="#{componentesClaseForm.seccionesPlantillas}" var="seccionPlantilla" 
                                                 itemValue="#{seccionPlantilla}"  controlsLocation="none" class="Container100">
                                        <p:column>#{formatoPantallas.campo100}</p:column>
                                    </p:orderList>
                                </div>
                                <div class="Container40 ContainerIndent Responsive">
                                    <p:outputLabel value="Componentes en la seccion de la plantilla" class="Container100 TexAlCenter"></p:outputLabel>
                                    <p:pickList value="#{componentesClaseForm.componentes}" var="componente" effect="bounce"
                                                itemValue="#{componente}" itemLabel="#{componente.description}" showCheckbox="true"
                                                showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" 
                                                addLabel="Agregar" addAllLabel="Agregar Todos" removeLabel="Remover" 
                                                removeAllLabel="Remover Todos" class="Container100">
                                        <f:facet name="sourceCaption">Disponibles</f:facet>
                                        <f:facet name="targetCaption">Seleccionados</f:facet>
                                        <p:column >#{formatoPantallas.campo100}</p:column>
                                    </p:pickList>
                                </div>
                            </p:tab>
                            <p:tab title="Interacción entre componentes">
                                <p:tabView>
                                    <p:tab title="Consultar Interacciones entre Componentes">
                                        <p:dataTable var="car" value="" rows="10"
                                                     paginator="true"
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     rowsPerPageTemplate="10,20,40"
                                                     reflow="true" >
                                            <p:column headerText="Evento"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo30}
                                            </p:column>
                                            <p:column headerText="Acción"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo30}
                                            </p:column>
                                            <p:column headerText="Duración"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.numero4}
                                            </p:column>
                                            <p:column headerText="Siguiente Componente"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo100}
                                            </p:column>
                                            <p:column headerText="Evento del siguiente Componente"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo30}
                                            </p:column>
                                            <p:column headerText="Acción del siguiente Componente"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo30}
                                            </p:column>
                                            <p:column headerText="Tiempo de espera para activar siguiente componente"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.numero4}
                                            </p:column>
                                            <p:column headerText="Acciones">
                                                <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Interaccion"></i>
                                                <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Interaccion"></i>
                                            </p:column>
                                        </p:dataTable>
                                        <p:commandButton value="Crear Interacción entre componentes"></p:commandButton>
                                        <p:commandButton value="Refrescar"></p:commandButton>
                                    </p:tab>
                                    <p:tab title="Crear Interación entre componentes">
                                        <p:panelGrid columns="2" class="Container100">
                                            <p:outputLabel value="Evento"></p:outputLabel>
                                            <p:selectOneMenu value="#{InteraccionClaseForm.evento}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Acción"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.campo30}"></p:outputLabel>
                                            <p:outputLabel value="Duración"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>
                                            <p:outputLabel value="Siguiente Componente"></p:outputLabel>
                                            <p:selectOneMenu  value="#{InteraccionClaseForm.sigComponente}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Evento del siguiente Componente"></p:outputLabel>
                                            <p:selectOneMenu value="#{InteraccionClaseForm.evento}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Accion del siguiente componente"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>                                        
                                            <p:outputLabel value="Tiempo de espera para activar siguiente componente"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>                                        
                                        </p:panelGrid>
                                        <div class="EmptyBox20"></div>
                                        <div class="Container100">
                                            <p:commandButton value="Guardar"></p:commandButton>
                                            <p:commandButton value="Limpiar"></p:commandButton>
                                            <p:commandButton value="Cancelar"></p:commandButton>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Modificar Interación entre componentes">
                                        <p:panelGrid columns="2" class="Container100">
                                            <p:outputLabel value="Evento"></p:outputLabel>
                                            <p:selectOneMenu value="#{InteraccionClaseForm.evento}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Acción"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.campo30}"></p:outputLabel>
                                            <p:outputLabel value="Duración"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>
                                            <p:outputLabel value="Siguiente Componente"></p:outputLabel>
                                            <p:selectOneMenu  value="#{InteraccionClaseForm.sigComponente}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Evento del siguiente Componente"></p:outputLabel>
                                            <p:selectOneMenu value="#{InteraccionClaseForm.evento}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Accion del siguiente componente"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>                                        
                                            <p:outputLabel value="Tiempo de espera para activar siguiente componente"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>                                        
                                        </p:panelGrid>
                                        <div class="EmptyBox20"></div>
                                        <div class="Container100">
                                            <p:commandButton value="Guardar"></p:commandButton>
                                            <p:commandButton value="Limpiar"></p:commandButton>
                                            <p:commandButton value="Cancelar"></p:commandButton>
                                        </div>
                                    </p:tab>
                                </p:tabView>
                            </p:tab>
                        </p:tabView>
                    </p:panel>
                    <p:panel header="Contenido de la clase" toggleable="true">
                        <p:fieldset legend="#{formatoPantallas.campo100}" toggleable="true">
                            <p:tabView >
                                <p:tab title="pag #{formatoPantallas.numero3}" >
                                    <div class="Container100">
                                        <p:outputLabel value="Campo"></p:outputLabel>
                                    </div>
                                    <div class="Container100">
                                        <p:editor value="#{formatoPantallas.campo4000}"></p:editor>
                                        <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Página"></i>
                                    </div>
                                </p:tab>
                                <p:tab title="+" >
                                    <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Página"></i>
                                </p:tab>
                            </p:tabView>    
                        </p:fieldset>
                        <p:fieldset legend="#{formatoPantallas.campo100}"  toggleable="true">
                            <p:tabView >
                                <p:tab title="pag #{formatoPantallas.numero3}" >
                                    <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Página"></i>
                                </p:tab>
                                <p:tab title="pag #{formatoPantallas.numero3}" >
                                    <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Página"></i>
                                </p:tab>
                                <p:tab title="+" >

                                </p:tab>
                            </p:tabView>    
                        </p:fieldset>
                    </p:panel>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Vista Previa"></p:commandButton>
                    <p:commandButton value="Crear"></p:commandButton>
                    <p:commandButton value="Limpiar"></p:commandButton>
                    <p:commandButton value="Cancelar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Modificar clase">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda2" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>

                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda2').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="4">
                        <p:outputLabel value="Docente: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:selectOneMenu  value="#{ClasesForm.docente}" class="Contanier10 Responsive" filter="true" filterMatchMode="startsWith">
                            <f:selectItem itemLabel="#{formatoPantallas.campo300}" itemValue="0"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Plantilla de clase: " class="Contanier10 Responsive"></p:outputLabel>
                        <p:selectOneMenu  value="#{ClasesForm.tipoClase}" class="Contanier10 Responsive">
                            <f:selectItem itemLabel="#{formatoPantallas.campo100}" itemValue="0"></f:selectItem>
                        </p:selectOneMenu>  
                        <p:outputLabel value="Estado: " class="Responsive"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo15}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="Disponible"></f:selectItem>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <p:panel id="r"  toggleable="true" header="Menu de Configuración" class="Container100">
                        <p:tabView class="Container100">
                            <p:tab title="Secciones de plantilla">
                                <div class="Container30 ContainerIndent Responsive">
                                    <p:outputLabel value="Secciones de la plantilla" class="Container100 TexAlCenter"></p:outputLabel>
                                    <p:orderList value="#{componentesClaseForm.seccionesPlantillas}" var="seccionPlantilla" 
                                                 itemValue="#{seccionPlantilla}"  controlsLocation="none" class="Container100">
                                        <p:column>#{formatoPantallas.campo100}</p:column>
                                    </p:orderList>
                                </div>
                                <div class="Container40 ContainerIndent Responsive">
                                    <p:outputLabel value="Componentes en la seccion de la plantilla" class="Container100 TexAlCenter"></p:outputLabel>
                                    <p:pickList value="#{componentesClaseForm.componentes}" var="componente" effect="bounce"
                                                itemValue="#{componente}" itemLabel="#{componente.description}" showCheckbox="true"
                                                showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" 
                                                addLabel="Agregar" addAllLabel="Agregar Todos" removeLabel="Remover" 
                                                removeAllLabel="Remover Todos" class="Container100">
                                        <f:facet name="sourceCaption">Disponibles</f:facet>
                                        <f:facet name="targetCaption">Seleccionados</f:facet>
                                        <p:column >#{formatoPantallas.campo100}</p:column>
                                    </p:pickList>
                                </div>
                            </p:tab>
                            <p:tab title="Interacción entre componentes">
                                <p:tabView>
                                    <p:tab title="Consultar Interacciones entre Componentes">
                                        <p:dataTable var="car" value="" rows="10"
                                                     paginator="true"
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     rowsPerPageTemplate="10,20,40"
                                                     reflow="true" >
                                            <p:column headerText="Evento"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo30}
                                            </p:column>
                                            <p:column headerText="Acción"  filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo30}
                                            </p:column>
                                            <p:column headerText="Duración" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.numero4}
                                            </p:column>
                                            <p:column headerText="Siguiente Componente" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo100}
                                            </p:column>
                                            <p:column headerText="Evento del siguiente Componente" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo30}
                                            </p:column>
                                            <p:column headerText="Acción del siguiente Componente" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.campo30}
                                            </p:column>
                                            <p:column headerText="Tiempo de espera para activar siguiente componente" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                                                #{formatoPantallas.numero4}
                                            </p:column>
                                            <p:column headerText="Acciones">
                                                <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Interaccion"></i>
                                                <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Interaccion"></i>
                                            </p:column>
                                        </p:dataTable>
                                        <p:commandButton value="Crear Interacción entre componentes"></p:commandButton>
                                        <p:commandButton value="Refrescar"></p:commandButton>
                                    </p:tab>
                                    <p:tab title="Crear Interación entre componentes">
                                        <p:panelGrid columns="2" class="Container100">
                                            <p:outputLabel value="Evento"></p:outputLabel>
                                            <p:selectOneMenu value="#{InteraccionClaseForm.evento}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Acción"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.campo30}"></p:outputLabel>
                                            <p:outputLabel value="Duración"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>
                                            <p:outputLabel value="Siguiente Componente"></p:outputLabel>
                                            <p:selectOneMenu  value="#{InteraccionClaseForm.sigComponente}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Evento del siguiente Componente"></p:outputLabel>
                                            <p:selectOneMenu value="#{InteraccionClaseForm.evento}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Accion del siguiente componente"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>                                        
                                            <p:outputLabel value="Tiempo de espera para activar siguiente componente"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>                                        
                                        </p:panelGrid>
                                        <div class="EmptyBox20"></div>
                                        <div class="Container100">
                                            <p:commandButton value="Guardar"></p:commandButton>
                                            <p:commandButton value="Limpiar"></p:commandButton>
                                            <p:commandButton value="Cancelar"></p:commandButton>
                                        </div>
                                    </p:tab>
                                    <p:tab title="Modificar Interación entre componentes">
                                        <p:panelGrid columns="2" class="Container100">
                                            <p:outputLabel value="Evento"></p:outputLabel>
                                            <p:selectOneMenu value="#{InteraccionClaseForm.evento}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Acción"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.campo30}"></p:outputLabel>
                                            <p:outputLabel value="Duración"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>
                                            <p:outputLabel value="Siguiente Componente"></p:outputLabel>
                                            <p:selectOneMenu  value="#{InteraccionClaseForm.sigComponente}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Evento del siguiente Componente"></p:outputLabel>
                                            <p:selectOneMenu value="#{InteraccionClaseForm.evento}" class="Contanier10 Responsive">
                                                <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Accion del siguiente componente"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>                                        
                                            <p:outputLabel value="Tiempo de espera para activar siguiente componente"></p:outputLabel>
                                            <p:outputLabel value="#{formatoPantallas.numero4}"></p:outputLabel>                                        
                                        </p:panelGrid>
                                        <div class="EmptyBox20"></div>
                                        <div class="Container100">
                                            <p:commandButton value="Guardar"></p:commandButton>
                                            <p:commandButton value="Limpiar"></p:commandButton>
                                            <p:commandButton value="Cancelar"></p:commandButton>
                                        </div>
                                    </p:tab>
                                </p:tabView>
                            </p:tab>
                        </p:tabView>
                    </p:panel>
                    <p:panel header="Contenido de la clase" toggleable="true">
                        <p:fieldset legend="#{formatoPantallas.campo100}" toggleable="true">
                            <p:tabView >
                                <p:tab title="pag #{formatoPantallas.numero3}" >
                                    <div class="Container100">
                                        <p:outputLabel value="Campo"></p:outputLabel>
                                    </div>
                                    <div class="Container100">
                                        <p:editor value="#{formatoPantallas.campo4000}"></p:editor>
                                        <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Página"></i>
                                    </div>
                                </p:tab>
                                <p:tab title="+" >
                                    <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Página"></i>
                                </p:tab>
                            </p:tabView>    
                        </p:fieldset>
                        <p:fieldset legend="#{formatoPantallas.campo100}"  toggleable="true">
                            <p:tabView >
                                <p:tab title="pag #{formatoPantallas.numero3}" >
                                    <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Página"></i>
                                </p:tab>
                                <p:tab title="pag #{formatoPantallas.numero3}" >
                                    <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Página"></i>
                                </p:tab>
                                <p:tab title="+" >

                                </p:tab>
                            </p:tabView>    
                        </p:fieldset>
                    </p:panel>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Vista Previa"></p:commandButton>
                    <p:commandButton value="Crear"></p:commandButton>
                    <p:commandButton value="Limpiar"></p:commandButton>
                    <p:commandButton value="Cancelar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Vista Previa de Clase">
                <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                    <p:outputLabel value="Esta ayuda sirve un monton"/>
                </p:dialog>
                <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                <div class="EmptyBox20"></div>
                <p:fieldset legend="Sección: #{formatoPantallas.campo100}" toggleable="true">
                    <p:tabView>
                        <p:tab title="pag ${formatoPantallas.numero3}">
                            <div class="Container100">
                                <p:outputLabel value="#{formatoPantallas.campo4000}"></p:outputLabel>
                            </div>
                        </p:tab>
                        <p:tab title="pag ${formatoPantallas.numero3}">
                            <div class="Container100">
                                <p:outputLabel value="#{formatoPantallas.campo4000}"></p:outputLabel>
                            </div>
                        </p:tab>
                    </p:tabView>
                </p:fieldset>
                <p:fieldset legend="Sección: #{formatoPantallas.campo100}" toggleable="true">
                    <p:tabView>
                        <p:tab title="pag ${formatoPantallas.numero3}">
                            <div class="Container100">
                                <p:outputLabel value="#{formatoPantallas.campo4000}"></p:outputLabel>
                            </div>
                        </p:tab>
                        <p:tab title="pag ${formatoPantallas.numero3}">
                            <div class="Container100">
                                <p:outputLabel value="#{formatoPantallas.campo4000}"></p:outputLabel>
                            </div>
                        </p:tab>
                    </p:tabView>
                </p:fieldset>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>