<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb class="Container90">
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Reportes" url="#"/>
            <p:menuitem value="Reporte de Docentes" url="#{siteUrls.reporteDocentes}"/>
            <p:separator />
        </p:breadCrumb>
        <i class="icon-question Fs25 Red Container2 ui-breadcrumb" style="cursor: pointer;" onclick="PF('dlgAyuda').show();"></i>
        <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
            <p:outputLabel value="Esta ayuda sirve un monton"/>
        </p:dialog>
    </ui:define>
    <ui:define name="content">
        <div class="EmptyBox5"></div>
        <h:form>            
            <p:panel>
                <p:panelGrid columns="5">
                     <p:outputLabel for="desde" value="F. Desde: " class=" Responsive"></p:outputLabel>
                     <p:calendar class="Container100" id="desde" value="#{rptDocentesController.desde}" mindate="#{dateUtils.fechaMinima}" maxdate="#{dateUtils.fechaActual}" mask="99/99/9999" pattern="dd/MM/yyyy" required="true" requiredMessage="Debe ingresar fecha de inicio" placeholder="dd/mm/yyyy" yearRange="c-20:c+20" navigator="true"></p:calendar>
                     <p:outputLabel for="hasta" value="F. Hasta: " class=" Responsive"></p:outputLabel>
                     <p:calendar class="Container100" id="hasta" value="#{rptDocentesController.hasta}" mindate="#{dateUtils.fechaMinima}" maxdate="#{dateUtils.fechaActual}" mask="99/99/9999" pattern="dd/MM/yyyy" required="true" requiredMessage="Debe ingresar fecha de fin" placeholder="dd/mm/yyyy" yearRange="c-20:c+20" navigator="true"></p:calendar>
                     <p:commandButton value="generar" actionListener="#{rptDocentesController.fill()}" update="consulta" ajax="true"></p:commandButton>
                </p:panelGrid>
                <div class="EmptyBox20"></div>
                <p:dataTable id="consulta"  var="car" value="#{rptDocentesController.listDatos}" 
                             paginator="false"
                             reflow="true">
                    <p:column headerText="Docente" >
                        #{car.docente}
                    </p:column>
                    <p:column headerText="Fecha Nacimiento" >
                        #{car.fechaNacimiento}
                    </p:column>
                    <p:column headerText="Edad" >
                        #{car.edad}
                    </p:column>                        
                    <p:column headerText="Direccion" >
                        #{car.direccion}
                    </p:column>
                    <p:column headerText="Telefono" >
                        #{car.telefono}
                    </p:column>
                   
                </p:dataTable>
                <div class="EmptyBox20"></div>
                <div class="TexAlCenter">
                    <h:panelGrid columns="4" class="TexAlCenter" style="margin-bottom:10px" cellpadding="5">
                        <p:outputLabel value="Exportar a:"></p:outputLabel>
                        <p:selectOneRadio  id="console" value="#{rptDocentesController.tipoRpt}">
                            <f:selectItem itemValue="2" itemLabel="Excel" />
                            <f:selectItem itemValue="0" itemLabel="PDF" />
                        </p:selectOneRadio>
                        <p:commandButton  value="Exportar" ajax="false" actionListener="#{rptDocentesController.generarReporte()}"></p:commandButton>
                        <p:commandButton value="Refrescar" actionListener="#{rptDocentesController.refresh()}" update="consulta" ajax="true"></p:commandButton>
                    </h:panelGrid>
                </div>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
