<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:panel class="Container100">
            <p:outputLabel class="h2 TexAlCenter">Bienvenido #{aperturaAnioEscolarForm.anio}</p:outputLabel>
        </p:panel>
    </ui:define>
</ui:composition>