<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>SIENI-Login</title>
        <ui:insert name="head" />
    </h:head>

    <h:body styleClass="loginbodyblue">
        <h:form id="form">

            <p:focus context="form"/>
            <div class="Wid90 DispBlock MarAuto MarTopPerc5 TexAlCenter">
                <div class="Wid33 MarAuto WidAutoOnMobile">

                    <h:graphicImage name="mined.jpg" library="images" style="width:40%; max-width:200px;"/>
                    <div class="EmptyBox30"></div>
                    <div class="Card ShadowEffect">
                        <div class="EmptyBox20"></div>
                        <div class="Wid100 OvHidden BigTopic Fs30"><i class="icon-users Fs40"></i>Bienvenido a SIENI</div>
                        <div class="Wid100 OvHidden Fs20">Login</div>
                        <div class="EmptyBox20"></div> 
                        <div class="Wid100">
                            <h:panelGrid columns="2" class="Wid100">
                                <p:outputLabel for="usuario" value="Usuario:"></p:outputLabel>
                                <p:inputText id="usuario" autocomplete="false" tabindex="1"  placeholder="Usuario" value="#{loginController.usuario}" styleClass="Wid80 TexAlCenter Fs18" required="true" requiredMessage="Debe ingresar usuario" />
                                <p:outputLabel for="pass" value="Contraseña:"></p:outputLabel>
                                <p:inputText id="pass" autocomplete="false" tabindex="2" type="password" value="#{loginController.password}" placeholder="Contraseña" styleClass="Wid80 TexAlCenter Fs18" required="true" requiredMessage="Debe ingresar contraseña"/>
                            </h:panelGrid>
                        </div>
                        <div class="EmptyBox30"></div>
                        <p:commandButton value="Ingresar" icon="fa fa-sign-in" styleClass="Wid60 Fs18 White RaisedButton " actionListener="#{loginController.login}" update="form" class="Wid100" />
                        <div class="EmptyBox20"></div>
                    </div>
                    <div class="Wid100 TexAlCenter MarTop20 Fs14 FontRobotoRegular WhiteBlue">
                        <i class="fa fa-copyright"></i>  Copyright 2015
                    </div>

                </div>
            </div>

            <h:outputStylesheet name="css/core-layout.css" library="rio-layout" />
            <h:outputStylesheet name="css/animate.css" library="rio-layout" />
            <h:outputStylesheet name="css/rio-font.css" library="rio-layout" />
            <h:outputStylesheet name="css/ripple-effect.css" library="rio-layout" />
            <h:outputStylesheet name="css/font-awesome.css" library="rio-layout" />
            <h:outputStylesheet name="css/rio-layout.css" library="rio-layout" />
            <p:growl autoUpdate="true"></p:growl>

        </h:form>
    </h:body>

</html>