<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Reportes" url="#"/>
            <p:menuitem value="Reporte Estadistico Rendimiento Alumnos" url="#{siteUrls.reporteRendimientoAlumno}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Reporte Estadistico Rendimiento Alumnos">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="4">
                        <p:outputLabel value="Fecha desde:"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.fecha}"></p:inputText>
                        <p:outputLabel value="hasta:"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.fecha}"></p:inputText>
                        <p:outputLabel value="Grado:"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel value="Seccion:"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo30}"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel value="Materia:"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo100}"></f:selectItem>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <p:dataTable id="rendimiento" rows="10" var="car" value="#{clasesForm.plantillas}" 
                                 paginator="false"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true"
                                 >

                        <p:column headerText="Grado"  filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo30}
                        </p:column>
                        <p:column headerText="Seccion"  filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo30}
                        </p:column>
                        <p:column headerText="Materia"  filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo100}
                        </p:column>
                        <p:column headerText="Alumnos"  filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.numero3}
                        </p:column>
                        <p:column headerText="Tipo de Evaluacion"  filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo30}
                        </p:column>
                        <p:column headerText="%Aprobados"  filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.porcentaje}
                        </p:column>
                        <p:column headerText="%Reprobados"  filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.porcentaje}
                        </p:column>
                        <p:column headerText="Promedio"  filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.numeroDecimal}
                        </p:column>
                        <f:facet name="footer">
                            Total de alumnos 999
                        </f:facet>
                    </p:dataTable>
                    <div class="EmptyBox20"></div>
                    <div class="TexAlCenter">

                        <h:panelGrid columns="4" class="TexAlCenter" style="margin-bottom:10px" cellpadding="5">
                            <p:outputLabel value="Exportar a:"></p:outputLabel>
                            <p:selectOneRadio  id="console" value="#{radioView.console}">
                                <f:selectItem itemLabel="Excel" itemValue="Excel" />
                                <f:selectItem itemLabel="PDF" itemValue="PDF" />
                            </p:selectOneRadio>
                            <p:commandButton  value="Generar"></p:commandButton>
                            <p:commandButton value="Refrescar"></p:commandButton>
                        </h:panelGrid>
                    </div>
                </h:form>



            </p:tab>


        </p:tabView>
    </ui:define>
</ui:composition>