<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view locale="es">
        <h:head> 
            <f:facet name="first">
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
                <meta name="apple-mobile-web-app-capable" content="yes" />
            </f:facet>
            <title>SIENI</title>
            <h:outputScript name="popcorn-complete.min.js" library="js" />
            <h:outputScript name="js/ripple-effect.js" library="rio-layout" />
            <h:outputScript name="js/perfect-scrollbar.js" library="rio-layout" />
            <h:outputScript name="js/layout.js" library="rio-layout" />
            <h:outputStylesheet name="style.css" library="css" />
            <ui:insert name="head" />
        </h:head>

        <h:body>
            <style type="text/css">
                .ui-panel .ui-panel-title { font-family: serif; }
                /*correccion de encabezado de tabs*/
                .ui-tabs.ui-tabs-top > .ui-tabs-nav {
                    padding: .01em .01em 0;
                }
                .ui-helper-reset {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 0;
                    line-height: 0.2;
                    text-decoration: none;
                    font-size: 100%;
                    list-style: none;
                }


                /*encabezado de tablas*/
                .ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
                    color: #546e7a;
                    background-color: #dae8ef;
                    border: solid 1px #c1d5df;
                    outline: none;
                    padding: 2px;
                    font-family: 'roboto_condensedlight';
                    font-size: 16px;
                }
                /*cambio tamanio de fuente en encabezado de tablas*/
                .ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
                    color: #546e7a;
                    background-color: #dae8ef;
                    border: solid 1px #c1d5df;
                    outline: none;
                    padding: 2px;
                    font-family: 'roboto_condensedlight';
                    font-size: 14px;
                }

                /*tamanio de imput*/
                .ui-inputfield {
                    color: #546e7a;
                    font-size: 16px;
                    font-family: 'roboto_condensedregular' !important;
                    padding: 2px 5px !important;
                    border: solid 0px #c6d6df;
                    border-bottom: solid 1px #b0bec5;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    background-color: #f5f5f5;
                    border-radius: 0px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                }
            </style>
            <div style="font-family: serif;">
                <script type="text/javascript">
                    PrimeFaces.locales['es'] = {
                        closeText: 'Cerrar',
                        prevText: 'Anterior',
                        nextText: 'Siguiente',
                        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                        dayNamesMin: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
                        weekHeader: 'Semana',
                        firstDay: 1,
                        isRTL: false,
                        showMonthAfterYear: false,
                        yearSuffix: '',
                        timeOnlyTitle: 'Sólo hora',
                        timeText: 'Tiempo',
                        hourText: 'Hora',
                        minuteText: 'Minuto',
                        secondText: 'Segundo',
                        currentText: 'Fecha actual',
                        ampm: false,
                        month: 'Mes',
                        week: 'Semana',
                        day: 'Día',
                        allDayText: 'Todo el día'
                    };
                    function configurarEnterTab() {
                        tb = $('input,textarea');

                        if ($.browser.mozilla) {
                            $(tb).keypress(enter2tab);
                        } else {
                            $(tb).keydown(enter2tab);
                        }
                    }
                    //tabulacion al precionar enter
                    $(document).ready(function () {
                        /* Aquí podría filtrar que controles necesitará manejar,
                         * en el caso de incluir un dropbox $('input, select');
                         */
                        tb = $('input,textarea');

                        if ($.browser.mozilla) {
                            $(tb).keypress(enter2tab);
                        } else {
                            $(tb).keydown(enter2tab);
                        }
                    });
                    function enter2tab(e) {
                        if (e.keyCode == 13) {
                            if ($('.ui-datepicker').css('display') == 'block') {
                                $('.ui-datepicker').css('display', 'none');
                            }
                            cb = parseInt($(this).attr('tabindex'));

                            if ($(':input[tabindex=\'' + (cb + 1) + '\']') != null) {
                                $(':input[tabindex=\'' + (cb + 1) + '\']').focus();
                                $(':input[tabindex=\'' + (cb + 1) + '\']').select();
                                e.preventDefault();
                                return false;
                            }
                        }
                    }
                    //elimina el click derecho en las paginas
                    $(document).on('contextmenu', function (e) {
                        e.preventDefault();
                    });
                </script>
                <ui:include src="topbar.xhtml" />

                <div id="wrapper">
                    <div id="wrapperIndent">

                        <ui:include src="layoutmenu.xhtml" />

                        <div id="layout-portlets-cover">
                            <h:form id="migas">
                                <ui:insert name="breadCrumb">
                                    <p:breadCrumb>
                                        <p:menuitem value="Home" url="/"/>
                                        <p:menuitem value="Gestión Año Escolar" url="#"/>
                                        <p:menuitem value="Apertura Año escolar" url="/faces/view/aperturaAnioEscolar/index.xhtml"/>
                                        <p:separator />
                                    </p:breadCrumb>
                                </ui:insert>
                            </h:form>
                            <ui:insert name="content">
                                Template
                            </ui:insert>
                            <div class="Container100">
                                <div class="ContainerIndent Fs12 BoldGray FontRobotoRegular" style="text-align: center">
                                    <div class="EmptyBox10"></div>
                                    Copyright © 2015
                                    <div class="EmptyBox10"></div>
                                </div>
                            </div>
                        </div>

                        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
                            <f:facet name="start">
                                <p:graphicImage name="images/preloader.gif" library="rio-layout"/>
                            </f:facet>

                            <f:facet name="complete">
                                <h:outputText value="" />
                            </f:facet>
                        </p:ajaxStatus>
                    </div>
                </div>
                <h:form>
                    <p:remoteCommand name="updatemessages" update="messages"></p:remoteCommand>
                    <p:growl sticky="true" id="messages" autoUpdate="true"></p:growl>
                </h:form>
                <h:outputStylesheet name="css/core-layout.css" library="rio-layout" />
                <h:outputStylesheet name="css/animate.css" library="rio-layout" />
                <h:outputStylesheet name="css/rio-font.css" library="rio-layout" />
                <h:outputStylesheet name="css/ripple-effect.css" library="rio-layout" />
                <h:outputStylesheet name="css/perfect-scrollbar.css" library="rio-layout" />
                <h:outputStylesheet name="css/font-awesome.css" library="rio-layout" />
                <h:outputStylesheet name="css/rio-layout.css" library="rio-layout" />
            </div>
        </h:body>
    </f:view>
</html>