<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">


    <div id="layout-topbar">
        <style type="text/css">
            #logo img{height:55px; max-width:123px; margin-top:5px; margin-left:8%;}
        </style>
        <div id="logo" class="Fleft">
            <a href="#"><h:graphicImage name="mined.jpg" styleClass="Fleft" library="images" /></a>
            <a id="mobile-menu-button" class="Fright ShowOnMobile ripplelink Unselectable ShadowEffect"><i class="icon-add186"></i></a>
        </div>
        <a class="ripplelink WhiteBlue Fright ShowOnMobile" id="show-top-menu"><i class="icon-show8"></i></a>       

        <ul id="top-menu" class="ShowOnDesktop">
            <li>
                <a class="ripplelink"><i class="icon-search100"></i> <span class="Txt">Buscar</span></a>
                <ul>
                    <li><input type="text" placeholder="Buscar"/></li>
                </ul>
            </li>
            <li>
                <a class="ripplelink"><i class="icon-set6"></i> <span class="Txt">Actividades</span></a>
                <ul>
                    <li><a href="#">23 Actividades</a></li>
                </ul>
            </li>
            <li>
                <a class="ripplelink"><i class="icon-notifications1"></i> <span class="Txt">Notificaciones</span></a>
                <ul>
                    <li><a href="#">18 Notificaciones</a></li>
                </ul>
            </li>
            <li><a href="#" class="ripplelink"><i class="icon-wifi83"></i> <span class="Txt">System Settings</span></a></li>
        </ul>
        <div id="Info" style="text-align: center;color: white;font-size: 1.0em" class="ShowOnDesktop MarTop10">
            Centro Escolar San Ramón                        
            <br/>
        </div>

        <div id="Info" style="text-align: center; color: white;font-size: 1.3em" >
            SIENI
        </div>
    </div>

</ui:composition>
