<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="breadCrumb">
        <p:breadCrumb>
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Año Escolar" url="#"/>
            <p:menuitem value="Matricula Alumnos" url="#{siteUrls.gestionAlumnos}"/>
            <p:separator />
        </p:breadCrumb>
    </ui:define>
    <ui:define name="content">
        <p:tabView>
            <p:tab title="Consulta de Matrícula de Alumnos">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <p:dataTable rows="10" var="car" value="#{clasesForm.plantillas}" 
                                 paginator="true"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,40"
                                 reflow="true">
                        <p:column headerText="Carnet" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.carnet}
                        </p:column>
                        <p:column headerText="Nombre" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo300}
                        </p:column>
                        <p:column headerText="Grado" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo15}
                        </p:column>
                        <p:column headerText="Sección" filterBy="#{car.description}" filterMatchMode="contains" filterable="true">
                            #{formatoPantallas.campo15}
                        </p:column>
                        <p:column headerText="Acciones">
                            <!--                            <i class="icon-users Fs25 Red" style="cursor: pointer" title="Gestionar Docentes"></i>
                                                        <i class="icon-graduate32 Fs25 Red" style="cursor: pointer" title="Gestionar Alumnos"></i>-->
                            <i class="icon-compose Fs25 Red" style="cursor: pointer" title="Modificar Matrícula"></i>
                            <i class="icon-close Fs25 Red" style="cursor: pointer" title="Eliminar Matrícula"></i>
                        </p:column>
                    </p:dataTable>
                    <div class="EmptyBox20"></div>
                    <p:commandButton value="Matricular Alumno"></p:commandButton>
                    <p:commandButton value="Refrescar"></p:commandButton>
                </h:form>
            </p:tab>
            <p:tab title="Registro de Matrícula de Alumno">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>                    
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel value="Carnet: " class=" Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.carnet}"></p:inputText>
                        <p:outputLabel  value="Nombre: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  filter="true" filterMatchMode="contains">
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo300}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="Rafael Antonio"></f:selectItem>
                            <f:selectItem itemValue="2" itemLabel="Alberto Daniel"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel value="Grado: " class=" Responsive" ></p:outputLabel>
                        <p:selectOneMenu  filter="true" filterMatchMode="contains">
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo15}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="8°"></f:selectItem>
                            <f:selectItem itemValue="2" itemLabel="9°"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Sección del grado: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo15}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="B"></f:selectItem>
                            <f:selectItem itemValue="2" itemLabel="C"></f:selectItem>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <div class="EmptyBox20"></div>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Docentes">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Alumnos">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Cursos">    
                            </p:menuitem>
                        </p:splitButton>            
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="Modificar Matrícula de Alumno">
                <h:form>
                    <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                        <p:outputLabel value="Esta ayuda sirve un monton"/>
                    </p:dialog>
                    <i class="icon-question Fs25 Red" style="cursor: pointer" onclick="PF('dlgAyuda').show();"></i>
                    <div class="EmptyBox20"></div>
                    <p:panelGrid columns="2" class="Container50 Responsive">
                        <p:outputLabel value="Carnet: " class=" Responsive"></p:outputLabel>
                        <p:inputText value="#{formatoPantallas.carnet}"></p:inputText>
                        <p:outputLabel  value="Nombre: " class=" Responsive"></p:outputLabel>
                        <p:selectOneMenu  filter="true" filterMatchMode="contains">
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo300}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="Rafael Antonio"></f:selectItem>
                            <f:selectItem itemValue="2" itemLabel="Alberto Daniel"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel value="Grado: " class=" Responsive" ></p:outputLabel>
                        <p:selectOneMenu  filter="true" filterMatchMode="contains">
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo15}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="8°"></f:selectItem>
                            <f:selectItem itemValue="2" itemLabel="9°"></f:selectItem>
                        </p:selectOneMenu>
                        <p:outputLabel  value="Sección del grado: " class="  Responsive"></p:outputLabel>
                        <p:selectOneMenu >
                            <f:selectItem itemValue="0" itemLabel="#{formatoPantallas.campo15}"></f:selectItem>
                            <f:selectItem itemValue="1" itemLabel="B"></f:selectItem>
                            <f:selectItem itemValue="2" itemLabel="C"></f:selectItem>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <div class="EmptyBox20"></div>
                    <div class="Container100 Responsive">
                        <p:commandButton value="Guardar"/>
                        <p:commandButton value="Limpiar"/>
                        <p:commandButton value="Cancelar"/>
                        <div class="EmptyBox20"></div>
                        <p:splitButton value="Otras Opciones" action="#">
                            <p:menuitem value="Gestionar Docentes">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Alumnos">    
                            </p:menuitem>
                            <p:menuitem value="Gestionar Cursos">    
                            </p:menuitem>
                        </p:splitButton>            
                    </div>
                </h:form>
            </p:tab>
        </p:tabView>
    </ui:define>
</ui:composition>