<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="breadCrumb">
        <p:breadCrumb class="Container90">
            <p:menuitem value="Home" url="/"/>
            <p:menuitem value="Gestionar Curso" url="#"/>
            <p:menuitem value="Mantenimiento de Archivos multimedia" url="#{siteUrls.gestionArchivosMultimedia}"/>
            <p:menuitem value="Adicionar Archivo Multimedia" url="#"/>
            <p:separator />
        </p:breadCrumb>
        <i class="icon-question Fs25 Red Container2 ui-breadcrumb" style="cursor: pointer;" onclick="PF('dlgAyuda').show();"></i>
    </ui:define>
    <ui:define name="content">
        <div class="EmptyBox5"></div>
        <p:panel>
            <h:form enctype="multipart/form-data" >
                <p:dialog widgetVar="dlgAyuda" modal="true" appendTo="@(body)" header="Ayuda">
                    <p:outputLabel value="Esta ayuda sirve un monton"/>
                </p:dialog>
                <p:focus context="p1"/>
                <p:panelGrid columns="4" class="Container100 Responsive" id="p1">
                    <p:outputLabel for="nombre"  value="Nombre: " class=" Responsive"></p:outputLabel>
                    <p:inputText tabindex="1" id="nombre" value="#{gestionArchivoMultimediaController.archivoNuevo.arNombre}"></p:inputText>
                    <p:outputLabel for="estado" value="Estado: " class=" Responsive"></p:outputLabel>
                    <p:selectOneMenu id="estado" class=" Responsive" value="#{gestionArchivoMultimediaController.archivoNuevo.arEstado}" tabindex="0">
                        <f:selectItem itemValue ="D" itemLabel="Disponible"/>
                        <f:selectItem itemValue="N" itemLabel="No Disponible"/>
                    </p:selectOneMenu>
                    <p:outputLabel for="tipo" value="Tipo: " class=" Responsive"></p:outputLabel>
                    <p:selectOneMenu id="tipo" class=" Responsive" 
                                     value="#{gestionArchivoMultimediaController.archivoNuevo.arTipo}" 
                                     valueChangeListener="#{gestionArchivoMultimediaController.getFormatosSubidaNuevo}">
                        <f:selectItem itemValue ="A" itemLabel="Audio"/>
                        <f:selectItem itemValue ="V" itemLabel="Video"/>
                        <f:selectItem itemValue ="I" itemLabel="Imagen"/>
                        <p:ajax event="valueChange" update="archivo"/>
                    </p:selectOneMenu>
                    <p:outputLabel for="archivo" value="Archivo: " class=" Responsive"></p:outputLabel>
                    <p:fileUpload id="archivo" label="Buscar" cancelLabel="cancelar" fileUploadListener="#{gestionArchivoMultimediaController.getArchivoNuevo}"
                                  uploadLabel="Subir archivo" multiple="false" mode="advanced" skinSimple="true" allowTypes="#{gestionArchivoMultimediaController.formatoArchivo}" 
                                  value="#{gestionArchivoMultimediaController.archivoSubidoNuevo}">
                    </p:fileUpload>
                </p:panelGrid>
                <div class="EmptyBox20"></div>
                <div class="Container100 Responsive">
                    <p:commandButton value="Guardar" action="#{gestionArchivoMultimediaController.guardar()}" update="p1" />
                    <p:commandButton value="Limpiar" immediate="true">
                        <p:ajax update="p1" resetValues="true" />
                    </p:commandButton>
                    <p:commandButton value="Cancelar" immediate="true">
                        <p:ajax update="p1" resetValues="true" listener="#{gestionArchivoMultimediaController.setIndexMenu(0)}"/>
                    </p:commandButton>
                    <p:commandButton id="otrasOpciones" value="Otras opciones" type="button" icon="ui-icon-extlink" />
                    <p:tieredMenu overlay="true" trigger="otrasOpciones" my="left top" at="left bottom" style="width:200px">
                        <p:menuitem value="Gestionar Docentes" >    
                        </p:menuitem>
                        <p:menuitem value="Gestionar Alumnos">    
                        </p:menuitem>
                        <p:menuitem value="Gestionar Cursos">    
                        </p:menuitem>
                    </p:tieredMenu> 
                </div>
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>